
@using UmangMicro.Manager
@{
    var u = MvcApplication.CUser;
    var r = CommonModel.GetUserRole();
}

<div id="cssmenu">
    <ul>
        @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("State") || HttpContext.Current.User.IsInRole("PCI_Representative"))
        {
            <li class="menu-hide">&nbsp;</li>
            <li>
                <a href="javascript:void(0)">Counselling</a>
                <ul>
                    <li><a href="~/Candidate/Reg">Student Registration</a></li>
                    <li><a href="~/Candidate/Index">Edit Student Registration</a></li>
                    <li>
                        <a href="~/Counsellor/CaseHistory">
                            Add Case History
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Psychometric (RIASEC)</a>
                <ul>
                    <li>
                        <a href="~/Test/Add">
                            Psychometric (RIASEC) Test
                        </a>
                    </li>
                    <li>
                        <a href="~/Test/Index">
                            Psychometric (RIASEC) Result
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Modular</a>
                <ul>
                    <li><a href="~/Modular/ModularSForm">Modular Session</a></li>
                    <li><a href="~/Modular/Index">Modular Session List</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Compendium</a>
                <ul>
                    <li><a href="~/Report/Index">Compendium Search</a></li>
                    <li><a href="~/Master/CourseD">Add Course</a></li>
                    <li><a href="~/Master/CourseDetail">Edit Course</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Account</a>
                <ul>
                    <li><a href="~/Account/Register">User Registration</a></li>
                    <li><a href="~/Master/UserDetaillist">User List</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Report</a>
                <ul>
                    <li><a href="~/Report/LastLogin">Login Details</a></li>
                    <li>
                        <a href="~/Counsellor/CaseHistoryList">
                            Case History List
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/CaseHReportedList">
                            Case History Reported By
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/SummaryData">
                            Summary Data
                        </a>
                    </li>
                </ul>
            </li>

        }
        @if (HttpContext.Current.User.IsInRole("Teacher") || HttpContext.Current.User.IsInRole("Consultant"))
        {

            <li>
                <a href="javascript:void(0)">Counselling</a>
                <ul>
                    <li><a href="~/Candidate/Reg">Student Registration</a></li>
                    <li><a href="~/Candidate/Index">Edit Student Registration</a></li>
                    <li>
                        <a href="~/Counsellor/CaseHistory">
                            Add Case History
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Psychometric (RIASEC)</a>
                <ul>
                    <li>
                        <a href="~/Test/Add">
                            Psychometric (RIASEC) Test
                        </a>
                    </li>
                    <li>
                        <a href="~/Test/Index">
                            Psychometric (RIASEC) Result
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Modular</a>
                <ul>
                    <li><a href="~/Modular/ModularSForm">Modular Session</a></li>
                    <li><a href="~/Modular/Index">Modular Session List</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Report</a>
                <ul>
                    <li>
                        <a href="~/Counsellor/CaseHistoryList">
                            Case History List
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/CaseHReportedList">
                            Case History Reported By
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/SummaryData">
                            Summary Data
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (HttpContext.Current.User.IsInRole("Umang"))
        {
            <li>
                <a href="javascript:void(0)">File Upload (Resource)</a>
                <ul>
                    <li>
                        <a href="~/Resource/ResourceUpload">
                            Resource Upload
                        </a>
                    </li>
                    <li>
                        <a href="~/Resource/Index">
                            Resource Upload List
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Master/MicroCase">
                    Add Case Studies
                </a>
            </li>
            <li>
                <a href="~/Report/Resource">
                    Resource Download
                </a>
            </li>
        }

    </ul>
</div>

@*<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading"></li>
            @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("State"))
            {
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Counselling
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="~/Candidate/Reg">
                                <i class="metismenu-icon"></i>Student Registration
                            </a>
                        </li>
                        <li>
                            <a href="~/Candidate/Index">
                                <i class="metismenu-icon"></i>Student Reg List
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#">
                        <i class="metismenu-icon pe-7s-rocket"></i>Compendium
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="~/Report/Index">
                                Compendium Search
                                <i class="metismenu-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="~/Master/CourseD">
                                Add Course
                                <i class="metismenu-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="~/Master/CourseDetail">
                                Edit (Course)
                                <i class="metismenu-icon"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-plugin"></i>Account
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="~/Account/Register">
                                <i class="metismenu-icon"></i>User Register
                            </a>
                        </li>
                        <li>
                            <a href="~/Master/UserDetaillist">
                                <i class="metismenu-icon"></i>User list
                            </a>
                        </li>
                    </ul>
                </li>
            }
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-star"></i>Report
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="~/Report/LastLogin">
                            <i class="metismenu-icon "></i>Login Details
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/Resource">
                            <i class="metismenu-icon"></i>Resource Download
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Counsellor/CaseHistory">
                    <i class="metismenu-icon pe-7s-bookmarks"></i>Add Case History
                </a>
            </li>
            <li>
                <a href="~/Master/MicroCase">
                    <i class="metismenu-icon pe-7s-bookmarks"></i>Add Case Studies
                </a>
            </li>
            <li>
                <a href="~/Test/Add">
                    <i class="metismenu-icon pe-7s-bookmarks"></i>Pscholmetric (RIASEC) test
                </a>
            </li>
        </ul>
    </div>
</div>*@