<div class="app-wrapper-footer" style="margin-top:3% !important; height: 100% !important; ">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-left">
            <div class="footer-dots">
            </div>
        </div>
            <p style="color:#ffffff !important; text-align: center !important">Copyright @DateTime.Now.Year Umang. All rights reserved.</p>
        </div>
    </div>
</div>
