<!-- Footer -->
<footer class="footer">
    <div class="main-footer">
        <div id="footer-wrap">
            <div class="footer-stat">
                <div class="botlogo">
                    <p><a href="/"><img src="/Content/images/pci.png" alt="Umang Logo" title="Umang Logo"></a></p>
                </div>
                <div class="foot2">
                    <h3>About Umang</h3>
                    <div class="bord4"></div>
                    <p>
                        Umang (meaning enthusiasm) is an empowerment-integrated and norm-shifting model that
                        addresses the issue of child/early marriage of adolescent girls in Jharkhand.
                    </p>
                    <p>Since its inception in 2019, Umang has been empowering mothers, who are able to stand against child/early marriage and nurture the aspirations of their daughters</p>
                </div>
                <div class="foot">
                    <h3>Our Partners</h3>
                    <p><img src="~/Content/images/partners/jslps-logo.jpg" alt="JSLPS logo" class="partner-logo" /></p>
                    <p><img src="~/Content/images/partners/global-communities-logo.jpeg" alt="Global COmmunities logo" class="partner-logo" /></p>
                    <p><img src="~/Content/images/partners/icrw-logo.jpg" alt="ICRW logo" class="partner-logo" /></p>
                </div>
                <div class="foot">
                    <h3>Quick Links</h3>
                    <div class="bord4"></div>
                    <ul>
                        <li><a href="~/Home/AimObjectives"><i class="fa fa-arrow-right spacer-right"></i>Aims & Objectives</a></li>
                        <li><a href="~/Home/Design"><i class="fa fa-arrow-right spacer-right"></i>Design</a></li>
                        <li><a href="~/Home/Intervention"><i class="fa fa-arrow-right spacer-right"></i>Intervention</a></li>
                        <li><a href="~/Home/Journeysofar"><i class="fa fa-arrow-right spacer-right"></i>Timeline</a></li>
                        <li><a href="~/Home/Modules"><i class="fa fa-arrow-right spacer-right"></i>Umang Modules</a></li>
                        <li><a href="~/Home/CaseStudy"><i class="fa fa-arrow-right spacer-right"></i>Case Studies</a></li>
                        <li><a href="~/Home/AnimationFilm"><i class="fa fa-arrow-right spacer-right"></i>Animation Films</a></li>
                    </ul>
                </div>
                @*<div class="foot">
                    <h3>Other Links</h3>
                    <div class="bord4"></div>
                    <ul>
                        <li><a href="#"><i class="fa fa-arrow-right spacer-right"></i>Umang Song</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right spacer-right"></i>Life of Umang</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right spacer-right"></i>Exam</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right spacer-right"></i>Rising Star</a></li>
                    </ul>
                </div>*@
                <div class="foot3">
                    <h3>Get In Touch</h3>
                    <div class="bord4"></div>
                    <p><i class="fa fa-map-marker"></i> F-87, Okhla Industrial Estate, <br />Phase -3, New Delhi – 110020</p>
                    <p><i class="fa fa-phone"></i> 011 4605 8888</p>
                    <p><i class="fa fa-envelope"></i> infoindia@pciglobal.in</p>
                    <p><i class="fa fa-envelope"></i> projectumangpci@gmail.com</p>
                    <p>
                        <a href="javascript:void(0)" target="_blank" class="social-tab"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:void(0)" target="_blank" class="social-tab"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:void(0)" target="_blank" class="social-tab"><i class="fa fa-instagram"></i></a>
                        <a href="javascript:void(0)" target="_blank" class="social-tab"><i class="fa fa-youtube"></i></a>
                    </p>
                </div>
                <div class="breaker"></div>
            </div>
        </div>
        <div class="feeter">
            <div id="footer">
                <p>Copyright (c) @DateTime.Now.Year UMANG. All rights reserved.</p>
                <div class="breaker"></div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Code -->
<a href="javascript:void(0)" title="Back to Top"><img src="/Content/images/backtotopicon.png" alt="" class="scrollup"></a>
