<!-- Header -->
<div id="wrapper">
    <div id="header">
        <div class="excellence"><a href="/"><img src="/Content/images/umang-logo.png" alt="Umang Logo" /></a></div>
        <div class="numberz">
            <p class="spacer2">
                <i class="fa fa-phone"></i> 011 4605 8888
            </p>
            <p class="spacer2">
                <i class="fa fa-envelope"></i> umang@pci.org
            </p>
        </div>
        <div class="logo"><a href="/"><img src="/Content/images/pci.png" alt="PCI" /></a></div>
    </div>
    @Html.Partial("_Navigation")
</div>
