<!-- Header -->
<div id="wrapper">
    <div id="header">
        <div class="excellence"><a href="/"><img src="/Content/images/umang-logo.png" alt="Umang Logo" /></a></div>
        @*<img src="~/Content/images/umang-cover-logo.jpg" alt="umang cover logo" class="cover-logo" />*@
        <img src="~/Content/images/umang-cover-logo-round.jpg" alt="umang cover logo" class="cover-logo-round" />
    </div>
    @Html.Partial("_Navigation")
    
</div>
