
<div class="super-menu">
    <span class="nav-menu">Menu</span>
    <nav id="ddmenu">
        <div class="menu-icon" tabindex="0" style="z-index: 214748;"></div>
        <ul>
            <li tabindex="0" class="current" style="z-index: 1;">
                <a class="top-heading " href="javascript:void(0)" aria-haspopup="true">About <br>Umang</a>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <h3>About Umang</h3>
                            </li>
                            <li>
                                <a href="~/Home/AimObjectives">
                                    <i class="fa fa-arrow-right"></i>Aim &
                                    Objectives
                                </a>

                            </li>
                            <li>
                                <a href="~/Home/Design"><i class="fa fa-arrow-right"></i>Design</a>
                            </li>
                            <li>
                                <a href="~/Home/Intervention"><i class="fa fa-arrow-right"></i>Intervention</a>
                            </li>
                            <li>
                                <a href="~/Home/Journeysofar"><i class="fa fa-arrow-right"></i>Journey So Far</a>
                            </li>
                            @*<li><a href="timeline.html"><i class="fa fa-arrow-right"></i>Timeline</a></li>
                        <li>
                            <a href="partnership.html"><i class="fa fa-arrow-right"></i>Partnerships</a>
                        </li>*@
                        </ul>
                        <!-- <ul class="column mayHide">
                    <li><br><img src="image/menu-picture/about-mentors.jpg" class="ttt" alt=""></li>
                </ul> -->
                    </div>
                </div>
            </li>
            <li tabindex="0" class="nav-bg-CM" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true">Child Marriage<br> in Jharkhand</span>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <h3>Child Marriage in Jharkhand</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>Issue of CEFM</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>Why Godda & Jamtara</a></li>
                            <li>
                                <a href="#"><i class="fa fa-arrow-right"></i>Understanding Demographics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li tabindex="0" class="nav-bg-UM" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true">Umang <br>Modules</span>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <h3>Umang Modules</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>For SHGs</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>For VOs</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>For CLFs</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li tabindex="0" class="nav-bg-KH" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true">Kishori <br>Help Desk</span>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <h3>Kishori Help Desk</h3>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>Training Module for
                                    Counsellors
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-arrow-right"></i>Compendium</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>Help Desk Process
                                    Documentation
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li tabindex="0" class="nav-bg-ME" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true">Monitoring & <br>Evaluation</span>
                <i class="caret"></i>
                <div class="dropdown right-aligned" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <h3>Monitoring & Evaluation</h3>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>Sulekha - about
                                    portal/dashboard
                                </a>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>Baseline Report</a></li>
                            <li>
                                <a href="#"><i class="fa fa-arrow-right"></i>Endline Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li tabindex="0" class="nav-bg-VP" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true">Videos & <br>Photos</span>
                <i class="caret"></i>
                <div class="dropdown right-aligned" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <h3>Videos & Photos</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>Life of Umang</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>Exam</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>MHM</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>Photos</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li tabindex="0" class="nav-bg-EL" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true">Empowering <br> Lives</span>
                <i class="caret"></i>
                <div class="dropdown right-aligned" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <h3>Empowering Lives</h3>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>Rising Star (Adolescent
                                    Girl)
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>Changemaker (SHG
                                    Mother/AW/RP)
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-arrow-right"></i>Leadership (VO/CLF/SAC)</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-arrow-right"></i>Power Duo (Mother-daughter)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-bg-last"><a class="top-heading login-btn" href="~/Account/Login">Login</a></li>
        </ul>
    </nav>
</div>