
<div class="super-menu">
    <span class="nav-menu">Menu</span>
    <nav id="ddmenu">
        <div class="menu-icon" tabindex="0" style="z-index: 214748;"></div>
        <ul>
            <li tabindex="0" class="current" style="z-index: 1;">
                <a class="top-heading " href="javascript:void(0)" aria-haspopup="true">About <br>Umang</a>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <a href="~/Home/AimObjectives">
                                    <i class="fa fa-arrow-right"></i>About Umang
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/Design"><i class="fa fa-arrow-right"></i>Project Design</a>
                            </li>
                            <li>
                                <a href="~/Home/Intervention"><i class="fa fa-arrow-right"></i>Intervention</a>
                            </li>
                            <li>
                                <a href="~/Home/Journeysofar"><i class="fa fa-arrow-right"></i>Umang Roadmap</a>
                            </li>
                        </ul>
                        <!-- <ul class="column mayHide">
                    <li><br><img src="image/menu-picture/about-mentors.jpg" class="ttt" alt=""></li>
                </ul> -->
                    </div>
                </div>
            </li>
            <li tabindex="0" class="current3" style="z-index: 1;">
                <a class="top-heading " href="javascript:void(0)" aria-haspopup="true">Umang<br /> Components</a>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <a href="~/Home/Modules">
                                    <i class="fa fa-arrow-right"></i>Umang Modules
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/KishoriHelpDesk">
                                    <i class="fa fa-arrow-right"></i>Kishori Help Desk
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li tabindex="0" class="current2" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true"><a href="javascript:void(0)">Status of Girls <br />in Jharkhand</a></span>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li><a href="~/Home/CEFMIssue"><i class="fa fa-arrow-right"></i>Issue of CEFM</a></li>
                            <li><a href="~/Home/WhyGoddaAndJamtara"><i class="fa fa-arrow-right"></i>Why Godda & Jamtara</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li tabindex="0" class="current5" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true">Resource <br />Section</span>
                <i class="caret"></i>
                <div class="dropdown right-aligned" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <a href="~/Home/EvaluationStudy">
                                    <i class="fa fa-arrow-right"></i>Evaluation Study
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/WomenLeadership">
                                    <i class="fa fa-arrow-right"></i>Women Leadership
                                </a>
                            </li>
                            <li><a href="~/Home/CaseStudy"><i class="fa fa-arrow-right"></i>Case Studies</a></li>

                            <li>
                                <a href="~/Home/AnimationFilm"><i class="fa fa-arrow-right"></i>Animation Films</a>
                            </li>
                            <li><a href="~/Home/testimonials"><i class="fa fa-arrow-right"></i>Video Testimonials</a></li>
                            <li><a href="~/Home/ResourcesDownload"><i class="fa fa-arrow-right"></i>Resource Download</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            @*<a class="login-btn" href="~/Account/Login">Login</a>*@
            @*<li class="nav-bg-last "><a class="top-heading login-btn" href="~/Account/Login">Login</a></li>*@
        </ul>
    </nav>
</div>