
<div class="super-menu">
    <span class="nav-menu">Menu</span>
    <nav id="ddmenu">
        <div class="menu-icon" tabindex="0" style="z-index: 214748;"></div>
        <ul>
            <li tabindex="0" class="current" style="z-index: 1;">
                <a class="top-heading " href="javascript:void(0)" aria-haspopup="true">About <br>Umang</a>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <a href="~/Home/AimObjectives">
                                    <i class="fa fa-arrow-right"></i>About Umang
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/Design"><i class="fa fa-arrow-right"></i>Project Design</a>
                            </li>
                            <li>
                                <a href="~/Home/Intervention"><i class="fa fa-arrow-right"></i>Intervention</a>
                            </li>
                            <li>
                                <a href="~/Home/Journeysofar"><i class="fa fa-arrow-right"></i>Umang Roadmap</a>
                            </li>
                        </ul>
                        <!-- <ul class="column mayHide">
                            <li><br><img src="image/menu-picture/about-mentors.jpg" class="ttt" alt=""></li>
                        </ul> -->
                    </div>
                </div>
            </li>
            <li tabindex="0" class="current2" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true"><a href="~/Home/StatusOfGirlInJharkhand">Status of Girls <br />in Jharkhand</a></span>
                <i class="caret"></i>
                <div class="dropdown" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li><a href="#"><i class="fa fa-arrow-right"></i>Issue of CEFM</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i>Why Godda & Jamtara</a></li>
                            <li>
                                <a href="#"><i class="fa fa-arrow-right"></i>Understanding Demographics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li tabindex="0" class="current2" style="z-index: 1;">
                <a href="~/Account/Login">Career <br />Counselling</a>
                @*<i class="caret"></i>
                    <div class="dropdown" style="transition: none; height: auto;">
                        <div class="dd-inner">
                            <ul class="column">
                                <li><a href="#"><i class="fa fa-arrow-right"></i>Search by Grade</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i>Search by Subject</a>
                                </li>
                            </ul>
                        </div>
                    </div>*@
            </li>
            @*<li tabindex="0" class="current3" style="z-index: 1;">
                    <span class="top-heading" aria-haspopup="true">Umang <br>Modules</span>
                    <i class="caret"></i>
                    <div class="dropdown" style="transition: none; height: auto;">
                        <div class="dd-inner">
                            <ul class="column">
                                <li><a href="#"><i class="fa fa-arrow-right"></i>For SHGs</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i>For VOs</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i>For CLFs</a></li>
                            </ul>
                        </div>
                    </div>
                </li>*@
            @*<li tabindex="0" class="current4" style="z-index: 1;">
                    <span class="top-heading" aria-haspopup="true">Empowering <br> Lives</span>
                    <i class="caret"></i>
                    <div class="dropdown right-aligned" style="transition: none; height: auto;">
                        <div class="dd-inner">
                            <ul class="column">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-arrow-right"></i>Rising Star (Adolescent
                                        Girl)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-arrow-right"></i>Changemaker (SHG
                                        Mother/AW/RP)
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-arrow-right"></i>Leadership (VO/CLF/SAC)</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-arrow-right"></i>Power Duo (Mother-daughter)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>*@
            <li tabindex="0" class="current5" style="z-index: 1;">
                <span class="top-heading" aria-haspopup="true">Resource <br />Section</span>
                <i class="caret"></i>
                <div class="dropdown right-aligned" style="transition: none; height: auto;">
                    <div class="dd-inner">
                        <ul class="column">
                            <li>
                                <a href="~/Home/Modules">
                                    <i class="fa fa-arrow-right"></i>Umang Modules
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-arrow-right"></i>Training Module for Counsellors</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>Kishori Help Desk
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>Evaluation Study
                                </a>
                            </li>
                        </ul>
                        <ul class="column mayHide">
                            <li><a href="~/Home/CaseStudy"><i class="fa fa-arrow-right"></i>Case Studies</a></li>
                            <li>
                                <a href="~/Home/AnimationFilm"><i class="fa fa-arrow-right"></i>Animation Films</a>
                            </li>
                            <li><a href="~/Home/testimonials"><i class="fa fa-arrow-right"></i>Video Testimonials</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            @*<li tabindex="0" class="nav-bg-KH" style="z-index: 1;">
                    <span class="top-heading" aria-haspopup="true">Kishori <br>Help Desk</span>
                    <i class="caret"></i>
                    <div class="dropdown" style="transition: none; height: auto;">
                        <div class="dd-inner">
                            <ul class="column">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-arrow-right"></i>Training Module for
                                        Counsellors
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-arrow-right"></i>Compendium</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-arrow-right"></i>Help Desk Process
                                        Documentation
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li tabindex="0" class="nav-bg-ME" style="z-index: 1;">
                    <span class="top-heading" aria-haspopup="true">Monitoring & <br>Evaluation</span>
                    <i class="caret"></i>
                    <div class="dropdown right-aligned" style="transition: none; height: auto;">
                        <div class="dd-inner">
                            <ul class="column">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-arrow-right"></i>Sulekha - about
                                        portal/dashboard
                                    </a>
                                </li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i>Baseline Report</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-arrow-right"></i>Endline Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li tabindex="0" class="nav-bg-VP" style="z-index: 1;">
                    <span class="top-heading" aria-haspopup="true">Videos & <br>Photos</span>
                    <i class="caret"></i>
                    <div class="dropdown right-aligned" style="transition: none; height: auto;">
                        <div class="dd-inner">
                            <ul class="column">
                                <li><a href="#"><i class="fa fa-arrow-right"></i>Life of Umang</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i>Exam</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i>MHM</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i>Photos</a></li>
                            </ul>
                        </div>
                    </div>
                </li>*@
            @*<a class="login-btn" href="~/Account/Login">Login</a>*@
            @*<li class="nav-bg-last "><a class="top-heading login-btn" href="~/Account/Login">Login</a></li>*@
        </ul>
    </nav>
</div>