@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMANG Dashboard</title>
    <link id="Link" href="~/Content/images/pci.png" rel="icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="card-login">
        <div class="full-title">
            <h1>
                UMANG
            </h1>
            <h3>We are committed to reduce early child marriageL</h3>
            <img src="~/Content/images/theoratical-framework.jpg" alt="Umang" />
        </div>
        <div class="div-login">
            <div class="login-card">
                <img src="~/Content/images/pci.png" alt="PCI Logo" class="card-login-icon wow zoomIn" data-wow-duration="700ms" data-wow-delay="500ms" />

                <h2 class="wow zoomIn" data-wow-duration="700ms" data-wow-delay="700ms">Log In</h2>
                <p class="wow zoomIn" data-wow-duration="700ms" data-wow-delay="900ms">Enter the correct details to view the Dashboard</p>
                <div class="col-md-12">
                    <section id="loginForm">
                        <form action="/Account/Login?ReturnUrl=%2F" class="orm-vertical" id="loginform" method="post" role="form">
                            @*<input name="__RequestVerificationToken" type="hidden" value="Q99bOzFbL4rxxSd18l1a3ehOy8fm3bh0uNPX5q20yqAivVmEV7-LT_sdwWSKaP9b0H1jTL4qEkGcE6zRaqpYZXlPStAoKLFUmVaw9vM3Ud41" />*@                           
                            <div class="form-group wow zoomIn" data-wow-duration="700ms" data-wow-delay="1100ms">
                                <input class="form-card effect-8" data-val="true" data-val-required="The User Name field is required." id="Email" name="Email" placeholder="Username" type="text" value="" />

                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group wow zoomIn" data-wow-duration="700ms" data-wow-delay="1300ms">
                                <input class="form-card effect-8" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password" />

                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group wow zoomIn" data-wow-duration="700ms" data-wow-delay="1500ms">
                                <div class="checkbox">
                                    <input class="input-checkbox" data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" />
                                    <span class="check-title">Remember Me</span>
                                </div>
                            </div>
                            <div class="break"></div>
                            <div class="form-group wow zoomIn" data-wow-duration="700ms" data-wow-delay="1700ms">
                                <input type="submit" id="btnSubmit" value="Log in" class="btn btn-card" />
                            </div>
                            <p class="wow zoomIn" data-wow-duration="700ms" data-wow-delay="1800ms"><a href="ForgotPassword">Forgot Password?</a></p>
                        </form>
                    </section>
                </div>
            </div>
            <div class="breaker"></div>
        </div>
    </div>
    <div class="footer">
        <p class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">Copyright © 2023 PCI India. All Rights Reserved.</p>
    </div>
</body>

