@using System.Data
@{
    ViewBag.Title = "User List";
    DataTable dt = new DataTable();
    if (Model != null)
    {
        dt = Model;
    }
}
@*<strong>Schemes</strong>*@
<div class="row row-deck">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered table-hover dt-responsive display" id="DataList1" width="100%">
                    <thead>
                        <tr>
                            @*<th>SrNo.</th>*@
                            <th></th>
                            <th>Section</th>
                            <th>Type Of Subject</th>
                            <th>Subject Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1;
                            if (Model != null)
                            {
                                foreach (DataRow dr in dt.Rows)
                                {
                                    <tr>
                                        @*<td class="text-center">@(sno++)</td>*@
                                        <td class="text-center"><input type="checkbox" name="Chk_@dr["ID"]" id="Chk_@dr["ID"]" value="" /></td>
                                        <td class="text-left" style="text-wrap: wrap;">@(dr["SectionShortEng"] +"-"+ dr["SectionNameEng"])</td>
                                        <td class="text-left" style="text-wrap: wrap;">@dr["TypeofSectionEng"]</td>
                                        <td class="text-left" style="text-wrap: wrap;">@(dr["SectionDetailNoEng"] +"-"+ dr["SectionDetailEng"])</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4" class="text-danger"><strong> Record Not Found !!</strong></td></tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
