@model UmangMicro.Models.RegisterViewModel
@{ }
<style>
    .dataTables_wrapper {
        padding: 5px;
    }

    .card-table thead tr th {
        font-size: 11px !important;
        padding: 8px 10px !important;
    }

    .card-table tbody tr td {
        font-size: 11px !important;
        padding: 8px 10px !important;
    }
</style>
<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                @*<li class="breadcrumb-item"><a href="#"><h3 class="mb-0 breadcrump-tittle">List Of User Details</h3></a></li>*@
            </ol><!-- End breadcrumb -->
            <div id="div-download"></div>
        </div>
        <!-- PAGE-HEADER END -->
        @using (Html.BeginForm("GetCoursesDetail", "Report", FormMethod.Post, new { id = "submission-form" }))
        {
            <div id="submission-data">
                <div class="container">
                    <h1>Courses Details</h1>
                    <div class="slides">

                        <div class="slide">
                            <a href="#">Courses Details</a>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi rem ab voluptate provident voluptatum veniam cupiditate beatae expedita veritatis aliquid officia doloribus dolore maiores doloremque mollitia! A ducimus autem ut!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fugiat officiis repellat reprehenderit incidunt deserunt illum eum ipsa quod nihil eligendi hic delectus quaerat. Ad sint tempore cumque mollitia reiciendis!
                            </div>
                        </div>

                        <div class="slide">
                            <a href="#">Skill Trainings</a>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi rem ab voluptate provident voluptatum veniam cupiditate beatae expedita veritatis aliquid officia doloribus dolore maiores doloremque mollitia! A ducimus autem ut!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus obcaecati velit autem tenetur doloribus perferendis esse odit animi quasi deserunt recusandae perspiciatis a sapiente aliquam qui libero dolor officiis assumenda.
                            </div>
                        </div>

                        <div class="slide">
                            <a href="#">Scholarships</a>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi rem ab voluptate provident voluptatum veniam cupiditate beatae expedita veritatis aliquid officia doloribus dolore maiores doloremque mollitia! A ducimus autem ut!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse harum eius voluptas dicta. Vero tempore rerum itaque? Quidem nobis vel consectetur sit amet illo dicta veniam ab ut libero officia!
                            </div>
                        </div>

                        <div class="slide">
                            <a href="#">Schemes</a>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi rem ab voluptate provident voluptatum veniam cupiditate beatae expedita veritatis aliquid officia doloribus dolore maiores doloremque mollitia! A ducimus autem ut!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fugiat officiis repellat reprehenderit incidunt deserunt illum eum ipsa quod nihil eligendi hic delectus quaerat. Ad sint tempore cumque mollitia reiciendis!
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*https://freefrontend.com/jquery-tabs/*@
@*https://codepen.io/frxnz/pen/AEzeLp*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/StyleSheet1.scss"  />

    <script>
        $(document).ready(function () {
            BindData();

        });

        function BindData() {
            jQuery.event.trigger("ajaxStart");
            $('#submission-data').removeClass("text-danger");
            var url = $('#submission-form').attr("action");
            var formData = $('#submission-form').serialize();
            $.ajax({
                url: url,
                type: "Post",
                data: '',//{ 'District': District, 'Block': Block },
                success: function (resp) {
                    if (resp.IsSuccess) {
                        jQuery.event.trigger("ajaxStop");
                        $('#submission-data').html(resp.Data);
                        if ($.fn.dataTable.isDataTable('#DataList')) {
                            $("#DataList").dataTable().fnDestroy();
                        }
                        table = $('#DataList').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'User Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'User List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '500px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $('#submission-data').html("Record Not Found !!");//TO DO
                        $('#submission-data').addClass("text-danger");//TO DO
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    $('#submission-data').html(errormsg);
                    jQuery.event.trigger("ajaxStop");
                    return false;
                }
            });
        }

    </script>
}