@model UmangMicro.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style>
    .dataTables_wrapper {
        padding: 5px;
    }

    .card-table thead tr th {
        font-size: 11px !important;
        padding: 8px 10px !important;
    }

    .card-table tbody tr td {
        font-size: 11px !important;
        padding: 8px 10px !important;
    }
</style>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-12">
                    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                        <div id="div-download"></div>
                        <!-- PAGE-HEADER END -->
                        @using (Html.BeginForm("GetCoursesDetail", "Report", FormMethod.Post, new { id = "submission-form" }))
                        {
                            <div class="col-md-6">
                                <div class="card mr-8">
                                    <div class="card-body">
                                        <ul class="tabs-animated-shadow tabs-animated nav">
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link active" id="tab-c-0" data-toggle="tab" href="#tab-animated-0" aria-selected="true">
                                                    <span>Skill Training</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link" id="tab-c-1" data-toggle="tab" href="#tab-animated-1" aria-selected="false">
                                                    <span>Schemes</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link" id="tab-c-2" data-toggle="tab" href="#tab-animated-2" aria-selected="false">
                                                    <span>Scholarships</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-animated-0" role="tabpanel">
                                                <p class="mb-0">
                                                    <div id="sub-data1"></div>
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab-animated-1" role="tabpanel">
                                                <p class="mb-0">
                                                    <div id="sub-data2"></div>
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab-animated-2" role="tabpanel">
                                                <p class="mb-0">
                                                    <div id="sub-data3"></div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*https://freefrontend.com/jquery-tabs/*@
@*https://codepen.io/frxnz/pen/AEzeLp*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/StyleSheet1.scss" />

    <script>
        $(document).ready(function () {
            BindData();
        });

        function BindData() {
            jQuery.event.trigger("ajaxStart");
            $('#submission-data').removeClass("text-danger");
            var url = $('#submission-form').attr("action");
            var formData = $('#submission-form').serialize();
            $.ajax({
                url: url,
                type: "Post",
                data: '',//{ 'District': District, 'Block': Block },
                success: function (resp) {
                    if (resp.IsSuccess) {
                        jQuery.event.trigger("ajaxStop");
                        $('#sub-data1').html(resp.html1);
                        $('#sub-data2').html(resp.html2);
                        $('#sub-data3').html(resp.html3);
                        if ($.fn.dataTable.isDataTable('#DataList')) {
                            $("#DataList").dataTable().fnDestroy();
                        }
                        if ($.fn.dataTable.isDataTable('#DataList1')) {
                            $("#DataList1").dataTable().fnDestroy();
                        }
                        if ($.fn.dataTable.isDataTable('#DataList2')) {
                            $("#DataList2").dataTable().fnDestroy();
                        }
                        table = $('#DataList').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'User Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'User List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '500px', 'display': 'inline-block' }
                        );
                        $('#div-download2').empty();
                        table.buttons().container().appendTo($('#div-download'));
                        table1 = $('#DataList1').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'User Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'User List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        table2 = $('#DataList2').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'User Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'User List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                       
                    }
                    else {
                        $('#sub-data1').html("Record Not Found !!");//TO DO
                        $('#sub-data1').addClass("text-danger");//TO DO
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    $('#submission-data').html(errormsg);
                    jQuery.event.trigger("ajaxStop");
                    return false;
                }
            });
        }

    </script>
}
