<!-- Banner -->
<link rel='stylesheet' href='/Content/css/settings4361.css?rev=4.1.3&amp;ver=3.9' type='text/css' />
<script type='text/javascript' src='/Content/js/plugins/jquery.themepunch.plugins.min4361.js?rev=4.1.3&amp;ver=3.9'></script>
<script type='text/javascript'
        src='/Content/js/plugins/jquery.themepunch.revolution.min4361.js?rev=4.1.3&amp;ver=3.9'></script>
<!-- Banner -->
<div class="main-banner">
    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
         style="margin:0px auto; background-color:#E9E9E9; padding:0px; margin-top:0px; margin-bottom:0px; max-height:520px; height:520px; position:relative">
        <div id="rev_slider_3_1" class="rev_slider fullwidthabanner"
             style="display:none; max-height:520px; height:520px;">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                    <img src="/Content/images/slider/slide-1.jpg" alt="" data-bgposition="center top" data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                    <img src="/Content/images/slider/slide-2.jpg" alt="" data-bgposition="center top" data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                    <img src="/Content/images/slider/slide-3.jpg" alt="" data-bgposition="center top" data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                </li>
            </ul>
        </div>
        
    </div>
    <script type="text/javascript">
        var tpj = jQuery;
        tpj.noConflict();
        var revapi3;

        tpj(document).ready(function () {

            if (tpj('#rev_slider_3_1').revolution == undefined)
                revslider_showDoubleJqueryError('#rev_slider_3_1');
            else
                revapi3 = tpj('#rev_slider_3_1').show().revolution(
                    {
                        dottedOverlay: "none",
                        delay: 9000,
                        startwidth: 1170,
                        startheight: 520,
                        hideThumbs: 200,

                        thumbWidth: 100,
                        thumbHeight: 50,
                        thumbAmount: 4,

                        navigationType: "none",
                        navigationArrows: "solo",
                        navigationStyle: "round",

                        touchenabled: "on",
                        onHoverStop: "on",

                        navigationHAlign: "center",
                        navigationVAlign: "bottom",
                        navigationHOffset: 0,
                        navigationVOffset: 20,

                        soloArrowLeftHalign: "left",
                        soloArrowLeftValign: "center",
                        soloArrowLeftHOffset: 20,
                        soloArrowLeftVOffset: 0,

                        soloArrowRightHalign: "right",
                        soloArrowRightValign: "center",
                        soloArrowRightHOffset: 20,
                        soloArrowRightVOffset: 0,

                        shadow: 0,
                        fullWidth: "on",
                        fullScreen: "off",

                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,

                        shuffle: "off",
                        autoHeight: "off",
                        forceFullWidth: "off",

                        hideThumbsOnMobile: "on",
                        hideBulletsOnMobile: "on",
                        hideArrowsOnMobile: "on",
                        hideThumbsUnderResolution: 0,
                    });
        });
    </script>
</div>
@*<a href="#section--1" charset="element smoothScroll">
    <img src="/Content/images/scroll_down.gif" alt=""
         class="scroll-down">
</a>*@
@*<div class="yellow-curve-bg"></div>
<div class="banner-message">
    <div class="message-box">
        <div class="umang-data" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="400">
            <img src="/Content/images/about-umang.jpg" alt="about umang">
        </div>
        <div class="umang-details" data-aos="fade-right" data-aos-delay="800">
            <h3>Umang</h3>
            <p>
                <span>Umang (meaning enthusiasm)</span> is an empowerment-integrated and norm-shifting model that addresses the issue
                of child/early marriage of adolescent girls in Jharkhand.
            </p>
        </div>
    </div>
</div>*@
<!-- AIMS & OBJECTIVES -->
<section class="section-1">
    <div class="aims-objective">
        <div class="aims" data-aos="fade-up" data-aos-duration="1500">
            <h2>AIM & <br><span class="txt-clr">OBJECTIVES</span></h2>
            <p>
                Umang identifies education and economic aspirations as critical elements that can address regressive
                social norms around child/early marriage and enable girls to grow up as productive human resources,
                thus
                leading them towards pathways of empowerment. With the aim to reduce incidence of child/early
                marriage
                in high-prevalence districts in Jharkhand and empower adolescent girls, PCI India has partnered with
                Jharkhand State Livelihood Promotion Society (JSLPS) to pilot the model in Jamtara and Godda
                districts
                of the state.
            </p>
            <p>
                Considering that mothers share a close relationship of trust & influence with their daughters,
                Project
                Umang is designed on the principle of <span class="highlight">
                    inter-generational transmission of
                    empowerment from mothers to
                    daughters
                </span>, whereby PCI is working with mothers & members from women’s collectives
                (Self-Help Groups
                –
                SHGs) as a means for developing agency among their next generation of adolescent daughters.
            </p>
        </div>
        <div class="objectives" data-aos="fade-down" data-aos-duration="1500">
            <img src="~/Content/images/aim-mother-daughter.jpg" alt="Aim mother daughter" />
        </div>
    </div>
    <div class="objectives-points">
        <div class="aims-point" data-aos="fade-up" data-aos-duration="1500">
            <div class="main-objectives">
                <h3>Objectives</h3>
                <p>
                    Layered upon the federated SHG structure (that has been developed and nurtured by JSLPS in the
                    state),
                    the project has laid its objectives to:
                </p>
            </div>
            <div class="flip-content">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/Content/images/women-collective.jpg" alt="Women Collectives">
                            <h4>Women Collectives</h4>
                        </div>
                        <div class="flip-card-back">
                            <h4>Women Collectives</h4>
                            <div class="bord"></div>
                            <p>
                                women collectives for create an enabling environment & encourage adolescent girls to
                                fulfil their aspirations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/Content/images/child-marriage.jpg" alt="Sustainable Model">
                            <h4>Sustainable Model</h4>
                        </div>
                        <div class="flip-card-back">
                            <h4>Women Collectives</h4>
                            <div class="bord"></div>
                            <p>
                                Establish a scalable &
                                sustainable model for
                                addressing child/early marriage through SHG platform
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aim-box">
        <h3>
            Umang has adopted a unique approach for empowering SHG women <br>through capacitating them with:
        </h3>
        <div class="boxed" data-aos="fade-right" data-aos-duration="3500">
            <div>
                <div class="n-ppost">
                    <span class="box-icon-1"><i class="fa fa-home"></i></span>
                    <span class="liner01"></span>
                    <p class="p1">
                        Negotiation skills & decision-making at <b>Household Level</b>
                        <span class="plus-icon bg-yellow"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(to voice their daughter’s concerns)</p>
            </div>
            <div>
                <div class="n-ppost">
                    <span class="box-icon-2"><i class="fa fa-support"></i></span>
                    <span class="liner02"></span>
                    <p class="p2">
                        Peer support at <b>Community Level</b>
                        <span class="plus-icon bg-blue"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(to create an enabling environment for girls)</p>
            </div>
            <div>
                <div class="n-ppost">
                    <span class="box-icon-3"><i class="fa fa-user"></i></span>
                    <span class="liner03"></span>
                    <p class="p3">
                        Collective leadership at <b>System Level</b>
                        <span class="plus-icon bg-pink"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(for engagement with duty bearers on gender issues)</p>
            </div>
        </div>
    </div>
</section>
<div class="continue-box">
    <a href="~/Home/Design" class="link-box">
        <img src="~/Content/images/quick-link/design-icon.png" alt="design icon" />
        <p>Design</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
    <a href="~/Home/Journeysofar" class="link-box">
        <img src="~/Content/images/quick-link/journey-icon.png" alt="journey icon" />
        <p>Journey So Far</p>
    </a>
</div>