<style>
    #ddmenu .current {
        color: #00AEC4;
    }
</style>
<!-- Banner -->
<div class="banner-manage">
    <img src="~/Content/images/slider/design-banner.jpg" alt="Aims & Objectives">
</div>
<div class="banner-title">
    <h2><span>About Umang</span></h2>
</div>
<!-- AIMS & OBJECTIVES -->
<section class="sect-objectives">
    <div class="aims-objective">
        <div class="aims" data-aos="fade-up" data-aos-duration="1500">
            <h2>About <span class="txt-clr">Umang</span></h2>
            <p class="clr-dark">
                Inter-generational transmission of empowerment from mothers to daughters
            </p>
            <p>
                Umang identifies education and economic aspirations as critical elements that can address regressive
                social norms around child/early marriage and enable girls to grow up as productive human resources,
                thus
                leading them towards pathways of empowerment. With the aim to reduce incidence of child/early
                marriage
                in high-prevalence districts in Jharkhand and empower adolescent girls.
            </p>
            <div class="hiddenTxt">
                <p>
                    PCI India has partnered with
                    Jharkhand State Livelihood Promotion Society (JSLPS) to pilot the model in Jamtara and Godda
                    districts
                    of the state.
                </p>
                <p>
                    Considering that mothers share a close relationship of trust & influence with their daughters,
                    Project
                    Umang is designed on the principle of 
                        inter-generational transmission of
                        empowerment from mothers to
                        daughters, whereby PCI is working with mothers & members from women’s collectives
                    (Self-Help Groups
                    –
                    SHGs) as a means for developing agency among their next generation of adolescent daughters.
                </p>
            </div>
            <button class="contentToggle">View More</button>
        </div>
        <div class="objectives" data-aos="fade-down" data-aos-duration="1500">
            <img src="~/Content/images/aim-mother-daughter.jpg" alt="Aim mother daughter" />
        </div>
    </div>
    @*<div class="aim-box">
        <h3>
            Umang has adopted a unique approach for empowering SHG women through capacitating them with
        </h3>
        <div class="boxed">
            <div>
                <div class="n-ppost">
                    <span class="box-icon-1"><i class="fa fa-home"></i></span>
                    <span class="liner01"></span>
                    <p class="p1">
                        Negotiation skills & decision-making at <b>Household Level</b>
                        <span class="plus-icon bg-yellow"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(to voice their daughter’s concerns)</p>
            </div>
            <div>
                <div class="n-ppost">
                    <span class="box-icon-2"><i class="fa fa-support"></i></span>
                    <span class="liner02"></span>
                    <p class="p2">
                        Peer support at <b>Community Level</b>
                        <span class="plus-icon bg-blue"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(to create an enabling environment for girls)</p>
            </div>
            <div>
                <div class="n-ppost">
                    <span class="box-icon-3"><i class="fa fa-user"></i></span>
                    <span class="liner03"></span>
                    <p class="p3">
                        Collective leadership at <b>System Level</b>
                        <span class="plus-icon bg-pink"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(for engagement with duty bearers on gender issues)</p>
            </div>
        </div>
    </div>*@
</section>
<div class="theory-of-chnages">
    <h2>Umang: Theory of Change</h2>
    <div class="three-dt">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="empowering-member">
        <p>
            Empowering members of women’s collectives that
            enables them to nurture the aspirations of adolescent girls
        </p>
    </div>
    <div class="value-the-child">
        <h3>Value the girl child</h3>
        <div class="value-child-devide">
            <div class="at-household">
                <h4>At Households</h4>
                <ul>
                    <li>Mothers to become confidant of girls</li>
                    <li>Mothers to have a say in decisions for daughters</li>
                </ul>
            </div>
            <div class="at-community">
                <h4>At Community</h4>
                <ul>
                    <li>Created an enabling environment for girls</li>
                    <li>Facilitate a shift in regressive social norms</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="continue-box">
    <a href="~/Home/Design" class="link-box">
        <img src="~/Content/images/quick-link/design-icon.png" alt="design icon" />
        <p>Design</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
    <a href="~/Home/Journeysofar" class="link-box">
        <img src="~/Content/images/quick-link/journey-icon.png" alt="journey icon" />
        <p>Journey So Far</p>
    </a>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".contentToggle").click(function () {
                var elem = $(".contentToggle").text();
                if (elem == "View More") {
                    $(".contentToggle").text("View Less");
                    $(".hiddenTxt").slideDown();
                } else {
                    $(".contentToggle").text("View More");
                    $(".hiddenTxt").slideUp();
                }
            });
        });
    </script>
}
