<style>
    #ddmenu .current {
        color: #00AEC4;
    }
</style>
<!-- Banner -->
<div class="banner-manage">
    <img src="~/Content/images/slider/design-banner.jpg" alt="Aims & Objectives">
</div>
@*<div class="banner-title">
    <h2><span>About Umang</span></h2>
</div>*@
<!-- AIMS & OBJECTIVES -->
<section class="sect-objectives">
    <div class="aims-objective">
        <div class="aims">
            <h2>About <span class="txt-clr">Umang</span></h2>
            <p class="clr-dark">
                Inter-generational transmission of empowerment from mothers to daughters
            </p>
            <p>
                Umang identifies education and economic aspirations as critical elements that can address regressive
                social norms around child/early marriage and enable girls to grow up as productive human resources,
                thus
                leading them towards pathways of empowerment. With the aim to reduce incidence of child/early
                marriage
                in high-prevalence districts in Jharkhand and empower adolescent girls.
            </p>
            <div class="hiddenTxt">
                <p>
                    PCI India has partnered with
                    Jharkhand State Livelihood Promotion Society (JSLPS) to pilot the model in Jamtara and Godda
                    districts
                    of the state.
                </p>
                <p>
                    Considering that mothers share a close relationship of trust & influence with their daughters,
                    Project
                    Umang is designed on the principle of 
                        inter-generational transmission of
                        empowerment from mothers to
                        daughters, whereby PCI is working with mothers & members from women’s collectives
                    (Self-Help Groups
                    –
                    SHGs) as a means for developing agency among their next generation of adolescent daughters.
                </p>
            </div>
            <button class="contentToggle">View More</button>
        </div>
        <div class="objectives" data-aos="fade-down" data-aos-duration="1500">
            <img src="~/Content/images/aim-mother-daughter.jpg" alt="Aim mother daughter" />
        </div>
    </div>
    @*<div class="aim-box">
        <h3>
            Umang has adopted a unique approach for empowering SHG women through capacitating them with
        </h3>
        <div class="boxed">
            <div>
                <div class="n-ppost">
                    <span class="box-icon-1"><i class="fa fa-home"></i></span>
                    <span class="liner01"></span>
                    <p class="p1">
                        Negotiation skills & decision-making at <b>Household Level</b>
                        <span class="plus-icon bg-yellow"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(to voice their daughter’s concerns)</p>
            </div>
            <div>
                <div class="n-ppost">
                    <span class="box-icon-2"><i class="fa fa-support"></i></span>
                    <span class="liner02"></span>
                    <p class="p2">
                        Peer support at <b>Community Level</b>
                        <span class="plus-icon bg-blue"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(to create an enabling environment for girls)</p>
            </div>
            <div>
                <div class="n-ppost">
                    <span class="box-icon-3"><i class="fa fa-user"></i></span>
                    <span class="liner03"></span>
                    <p class="p3">
                        Collective leadership at <b>System Level</b>
                        <span class="plus-icon bg-pink"><i class="fa fa-plus"></i></span>
                    </p>
                </div>
                <p class="n-ppost-name">(for engagement with duty bearers on gender issues)</p>
            </div>
        </div>
    </div>*@
</section>
<div class="umang-roadmap">
    <div class="theory-of-chnages">
        <h2>Umang: Theory of Change</h2>
        <div class="bord2"></div>
        <div class="empowering-member">
            <p>
                Empowering members of women’s collectives that enables them to nurture the aspirations of adolescent girls
            </p>
        </div>
        <div class="theory-box">
            <div class="system-level-fixed">
                <h4>System Level <sup><i class="fa fa-asterisk"></i></sup></h4>
                <p>
                    Elicit collective leadership among members (for engagement with duty bearers on gender issues)
                </p>
                <img src="~/Content/images/system-level-icon.png" alt="System Level" class="umang-theory-icon" />
                <img src="~/Content/images/umang-arrow-down.png" alt="System Level" class="theory-arrow-down" />
            </div>
            <div class="community-level-fixed">
                <h4>Community Level <sup><i class="fa fa-asterisk"></i></sup></h4>
                <p>
                    Encourage members to build peer support (enabling environment for girls)
                </p>
                <img src="~/Content/images/community-level-icon.png" alt="Community Level" class="umang-theory-icon" />
                <img src="~/Content/images/umang-arrow-down.png" alt="System Level" class="theory-arrow-down" />
            </div>
            <div class="household-level-fixed">
                <h4>
                    Household Level <sup><i class="fa fa-asterisk"></i></sup>
                </h4>
                <p>
                    Enhance negotiation skills & decision-making of women
                    (to voice their daughters’ concerns)
                </p>
                <img src="~/Content/images/house-hold-level-icon.png" alt="Household Level" class="umang-theory-icon" />
                <img src="~/Content/images/umang-arrow-down.png" alt="System Level" class="theory-arrow-down" />
            </div>
            <div class="kishori-help-desk-fixed">
                <div class="mob-view">
                    <h4>
                        Kishori Help Desk <sup><i class="fa fa-asterisk"></i></sup>
                    </h4>
                    <p>
                        Counselling support to adolescent girls on education, career, SRHR & skills training and linking with govt schemes
                    </p>
                    <img src="~/Content/images/kishori-delp-desk-icon.png" alt="Kishori Help Desk" class="umang-theory-icon" />
                    <img src="~/Content/images/umang-arrow-down.png" alt="System Level" class="theory-arrow-down" />
                </div>
                <div class="web-view">
                    <img src="~/Content/images/umang-arrow-down-top.png" alt="System Level" class="theory-arrow-down" />
                    <img src="~/Content/images/kishori-delp-desk-icon.png" alt="Kishori Help Desk" class="umang-theory-icon" />
                    <h4>
                        Kishori Help Desk <sup><i class="fa fa-asterisk"></i></sup>
                    </h4>
                    <p>
                        Counselling support to adolescent girls on education, career, SRHR & skills training and linking with govt schemes
                    </p>
                </div>
            </div>
            <div class="empowered-fixed">
                <div class="mob-view">
                    <h4>Empowered Girls <sup><i class="fa fa-asterisk"></i></sup></h4>
                    <p>
                        Girls capable to fulfil
                        their aspirations and be productive human resource
                    </p>
                    <img src="~/Content/images/empowered-girl.png" alt="empowerd girl" class="umang-theory-icon" />
                    <img src="~/Content/images/umang-arrow-down.png" alt="System Level" class="theory-arrow-down" />
                </div>
                <div class="web-view">
                    <img src="~/Content/images/empowered-girl.png" alt="empowerd girl" class="umang-theory-icon" />
                    <span class="empowered-line"></span>
                    <h4>Empowered Girls <sup><i class="fa fa-asterisk"></i></sup></h4>
                    <p>
                        Girls capable to fulfil
                        their aspirations and be productive human resource
                    </p>
                </div>
            </div>
        </div>
        <div class="value-the-child">
            <h3>
                Umang aspires for
            </h3>
            <ul>
                <li>
                    Improved choice & voice of mothers in household decision-making
                </li>
                <li>
                    Enriched mother-daughter bonding
                </li>
                <li>
                    Shift in regressive social norms at community level
                </li>
                <li>
                    Enhanced value of the girl child
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="continue-box">
    <a href="~/Home/Design" class="link-box">
        <img src="~/Content/images/quick-link/design-icon.png" alt="design icon" />
        <p>Design</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
    <a href="~/Home/Journeysofar" class="link-box">
        <img src="~/Content/images/quick-link/journey-icon.png" alt="journey icon" />
        <p>Umang Roadmap</p>
    </a>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".contentToggle").click(function () {
                var elem = $(".contentToggle").text();
                if (elem == "View More") {
                    $(".contentToggle").text("View Less");
                    $(".hiddenTxt").slideDown();
                } else {
                    $(".contentToggle").text("View More");
                    $(".hiddenTxt").slideUp();
                }
            });
        });
    </script>
}
