
<style>
    #ddmenu .current5 {
        color: #00AEC4;
    }
</style>
<div class="banner-manage">
    <img src="~/Content/images/slider/design-banner.jpg" alt="Aims & Objectives">
</div>
<div class="banner-title">
    <h2><span>Animation Film</span></h2>
</div>

<div class="manage-achievement">
    <h2>Life of Umang</h2>
    <div class="left-bord"></div>
    <p>Watch our series of short animation films that trace the journey of an adolescent girl ‘Umang’ & her mother, highlighting some of the key messages of Project Umang </p>
    <div class="video-animation">
        <div class="video-effect">
            <div class="side-vide">
                <div class="side-video-container">
                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/GdbvU2zAfuM"></iframe>
                </div>
            </div>
            <h3>Episode 1: Poochna Na Bhoolein </h3>
            <p>It explores the power of mother-daughter communication in resolving problems & how Project Umang enriches these interactions.</p>
        </div>
        <div class="video-effect">
            <div class="side-vide">
                <div class="side-video-container">
                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/cjNtZwU98VA"></iframe>
                </div>
            </div>
            <h3>Episode 2: Udaanon ko Dein Haunsla</h3>
            <p>A mother, who is driven to support her daughter's aspirations, seeks guidance from Kishori Help Desk.</p>
        </div>
        <div class="video-effect">
            <div class="side-vide">
                <div class="side-video-container">
                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/D_b3jQohZJ0"></iframe>
                </div>
            </div>
            <h3>Episode 3: Maa ki Dhaal</h3>
            <p>With improved negotiation skills, a mother is better able to shield her daughter from child marriage & nurture her dreams.</p>
        </div>
        <div class="video-effect">
            <div class="side-vide">
                <div class="side-video-container">
                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/6dWr528z4F4"></iframe>
                </div>
            </div>
            <h3>Episode 4: Soch ko Badlein</h3>
            <p>Community women realise the need for holistic development of girls & support each other in shifting norms. </p>
        </div>
        <div class="video-effect">
            <div class="side-vide">
                <div class="side-video-container">
                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/BJRT9Cvz-QA"></iframe>
                </div>
            </div>
            <h3>Episode 5: Ye to Bas Shuruaat Hai</h3>
            <p>It emphasises the value of identifying girls’ aspirations early (in 6th-7th grade) and starting requisite counselling through Kishori Help Desk.</p>
        </div>
    </div>
    <div class="quotes" data-aos="fade-up" data-aos-duration="1500">
        <img src="~/Content/images/quote-img.png" alt="quote icon" class="quote-icon" />
        <h4>
            Test of Time – Exam Season
        </h4>
        <p>Five integral points for mothers to keep in mind for supporting their daughters and creating and enabling environment for them at home during exam season.</p>
        <div class="log-boxes">
            <div class="side-vide">
                <div class="side-video-container">
                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/6dWr528z4F4"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
