<div class="cs-list-bg">
    <h2>Recent Rising Star Case Studies</h2>
    <div class="cs-category-list">
        <a href="https://umang.pcidigitals.in/Home/CaseDetail?Id=1" class="cs-list">
            <div class="brick"> 
                <span class="img-zoomer">
                    <img src="~/Content/images/case-study/Vandana-Murmu.jpeg" alt="" />
                </span> 
            </div>            
            <div class="box-gap">
                <span class="cs-date"><i class="fa fa-clock-o"></i> 13 Oct 2023</span>
                <h3>Trust Her Talent</h3>
                <p>A mother’s grit determination for prioritising her daughter’s schooling despite myriad challenges at her end pays off with the latter’s unprecedented success in sports</p>
                <span class="cs-list-link"><i class="fa fa-arrow-right"></i> Read the story</span>
            </div>
        </a>
        <a href="https://umang.pcidigitals.in/Home/CaseDetail?Id=1" class="cs-list">
            <div class="brick">
                <span class="img-zoomer">
                    <img src="~/Content/images/case-study/Vandana-Murmu.jpeg" alt="" />
                </span>
            </div>
            <div class="box-gap">
                <span class="cs-date"><i class="fa fa-clock-o"></i> 09 Sep 2023</span>
                <h3>Trust Her Talent</h3>
                <p>A mother’s grit determination for prioritising her daughter’s schooling despite myriad challenges at her end pays off with the latter’s unprecedented success in sports</p>
                <span class="cs-list-link"><i class="fa fa-arrow-right"></i> Read the story</span>
            </div>
        </a>
        <a href="https://umang.pcidigitals.in/Home/CaseDetail?Id=1" class="cs-list">
            <div class="brick">
                <span class="img-zoomer">
                    <img src="~/Content/images/case-study/Vandana-Murmu.jpeg" alt="" />
                </span>
            </div>
            <div class="box-gap">
                <span class="cs-date"><i class="fa fa-clock-o"></i> 05 Aug 2023</span>
                <h3>Trust Her Talent</h3>
                <p>A mother’s grit determination for prioritising her daughter’s schooling despite myriad challenges at her end pays off with the latter’s unprecedented success in sports</p>
                <span class="cs-list-link"><i class="fa fa-arrow-right"></i> Read the story</span>
            </div>
        </a>
        <a href="https://umang.pcidigitals.in/Home/CaseDetail?Id=1" class="cs-list">
            <div class="brick"> 
                <span class="img-zoomer">
                    <img src="~/Content/images/case-study/Vandana-Murmu.jpeg" alt="" />
                </span> 
            </div>            
            <div class="box-gap">
                <span class="cs-date"><i class="fa fa-clock-o"></i> 15 Jul 2023</span>
                <h3>Trust Her Talent</h3>
                <p>A mother’s grit determination for prioritising her daughter’s schooling despite myriad challenges at her end pays off with the latter’s unprecedented success in sports</p>
                <span class="cs-list-link"><i class="fa fa-arrow-right"></i> Read the story</span>
            </div>
        </a>
    </div>
</div>


