<div class="cs-list-bg">
    <h2>Recent Rising Star Case Studies</h2>
    <div class="cs-category-list">
        <a href="#" class="cs-list">
            <div class="brick"> <span class="img-zoomer"><img src="https://www.unicef.org/sites/default/files/styles/large/public/20230723_Rohingya_Edu_1.jpg?itok=-M_tN10m" /></span> </div>            
            <div class="box-gap">
                <span class="cs-date"><i class="fa fa-clock-o"></i> 13 Oct 2023</span>
                <h3>How flexible funding is saving lives</h3>
                <p>With generous support from partners, Global Humanitarian Thematic Funding is helping UNICEF save lives</p>
                <span class="cs-list-link"><i class="fa fa-arrow-right"></i> Read the story</span>
            </div>
        </a>
        <a href="#" class="cs-list">
            <div class="brick"> <span class="img-zoomer"><img src="https://www.unicef.org/bangladesh/sites/unicef.org.bangladesh/files/styles/large/public/UNI406809.jpg?itok=DXaqr6so" /></span> </div>
            <div class="box-gap">
                <span class="cs-date"><i class="fa fa-clock-o"></i> 09 Sep 2023</span>
                <h3>How flexible funding is saving lives</h3>
                <p>With generous support from partners, Global Humanitarian Thematic Funding is helping UNICEF save lives</p>
                <span class="cs-list-link"><i class="fa fa-arrow-right"></i> Read the story</span>
            </div>
        </a>
        <a href="#" class="cs-list">
            <div class="brick"> <span class="img-zoomer"><img src="https://www.unicef.org/sites/default/files/styles/large/public/UNI351556.JPG?itok=GUIf87dK" /></span> </div>
            <div class="box-gap">
                <span class="cs-date"><i class="fa fa-clock-o"></i> 05 Aug 2023</span>
                <h3>How flexible funding is saving lives</h3>
                <p>With generous support from partners, Global Humanitarian Thematic Funding is helping UNICEF save lives</p>
                <span class="cs-list-link"><i class="fa fa-arrow-right"></i> Read the story</span>
            </div>
        </a>
        <a href="#" class="cs-list">
            <div class="brick"> <span class="img-zoomer"><img src="https://www.unicef.org/sites/default/files/styles/large/public/UN0687978.jpg?itok=R9JtdmqV" /></span> </div>
            <div class="box-gap">
                <span class="cs-date"><i class="fa fa-clock-o"></i> 21 July 2023</span>
                <h3>How flexible funding is saving lives</h3>
                <p>With generous support from partners, Global Humanitarian Thematic Funding is helping UNICEF save lives</p>
                <span class="cs-list-link"><i class="fa fa-arrow-right"></i> Read the story</span>
            </div>
        </a>
    </div>
</div>


