@using UmangMicro.Manager
@using System.Data
@model UmangMicro.Models.CaseDetView
@{
    ViewBag.Title = "CaseDetail";
}

<h2>CaseDetail</h2>

<h2 style="height:200px"></h2>
<section class="section">
    <div class="row">
        @Html.Partial("_CaseDetailView")
    </div>
</section>