
@{
    ViewBag.Title = "StatusOfGirl";
}
<!-- Banner -->
<div class="video-banner">
    <video id="video" autoplay="autoplay" loop="loop" controls="controls" muted="muted">
        <source src="~/Content/video/animation-test-video.mp4" type='video/mp4;'>
    </video>
</div>
<div class="cefm-blocker">
    <div class="cefm-manage">
        <p class="pink-dark">Child, early and forced marriage is a human rights violation that denies a girl the opportunity of growing up to her full potential.</p>
        <p>When a girl is married young, it puts her behind in attaining education, healthcare, and financial independence, which create lifelong disparities. Child marriage often results in school dropout, thus depriving the girl a fair chance of fulfilling her educational and career aspirations. With incomplete education and poor agency, she gets economically dependent of her spouse. It also increases her vulnerabilities for domestic abuse, intimate partner violence, unintended pregnancies and poor health. </p>
    </div>    
</div>
<div class="kishori-help-desk-box">
    <div class="negative-impact">
        <h3><span>Delaying age at marriage has a positive impact on a girl’s life, as it helps with:</span></h3>
        <div class="impact-list">
            <div class="early-marriage-impact">
                <span class="rounnd-img-box"><img src="~/Content/images/school-dropout.png" alt="Fulfilment of educational attainment" /></span>
                <p>Fulfilment of educational attainment – higher chances of girl attaining complete education, with reduced risk of school dropout or discontinuation of studies.</p>
            </div>
            <div class="early-marriage-impact">
                <span class="rounnd-img-box"><img src="~/Content/images/increased-financial-independence.png" alt="Increased financial independence" /></span>
                <p>Increased financial independence – improves the future earning capacity, hence lesser dependence on in-laws/husbands. </p>
            </div>
            <div class="early-marriage-impact">
                <span class="rounnd-img-box"><img src="~/Content/images/higher-risk-mortality.png" alt="Better maternal and child health" /></span>
                <p>Better maternal and child health – Educated girls tend to plan their pregnancies better, and practise health-seeking bahaviour during ante-natal and post-natal care. </p>
            </div>
        </div>
        <div class="impact-list">
            <div class="early-marriage-impact">
                <span class="rounnd-img-box"><img src="~/Content/images/child-pregnancy.png" alt="Reduced chances of early & teen pregnancy and health complications associated with them" /></span>
                <p>Reduced chances of early & teen pregnancy and health complications associated with them.</p>
            </div>
            <div class="early-marriage-impact">
                <span class="rounnd-img-box"><img src="~/Content/images/partner-violence.png" alt="Reduced vulnerabilities of domestic abuse, and intimate partner violence" /></span>
                <p>Reduced vulnerabilities of domestic abuse, and intimate partner violence.</p>
            </div>
            <div class="early-marriage-impact">
                <span class="rounnd-img-box"><img src="~/Content/images/improved-agency.png" alt="Improved agency" /></span>
                <p>Improved agency – Educated girl with economic independence tends to be an independent decision-maker, can set goals for herself & her family and act on them.</p>
            </div>
        </div>
    </div>
    <p class="pink-dark">There are still over 650 million girls and women in the world who were married before attaining 18 years of age. In fact, one in three of the world’s child brides live in India. </p>
    <p>These dangerous outcomes have raised collective concerns among the global community <a href="https://data.unicef.org/resources/towards-ending-child-marriage/" target="_blank">towards ending child marriage</a>. The Sustainable Development Goal 5 on Gender Equality is committed to the elimination of child marriage by 2030. </p>
</div>