<!-- Banner -->
<img src="~/Content/images/slider/design-banner.jpg" alt="design banner">
<div class="banner-title">
    <h2><span>Design</span></h2>
</div>
<!-- DESIGN -->
<section class="section" id="section--2">
    <div class="design-bg">
        @*<h3>Three focus points of Design</h3>*@
        <div class="design-points">
            <a href="~/Home/Design#theoratical-framework" class="design-1">
                @*<img src="~/Content/images/theoratical-framework.jpg" alt="Theoretical Framework">*@
                <div class="round-box"><img src="~/Content/images/theoratical--icon.png" alt="Theoretical Framework" /></div>
                <p>Theoretical <br />Framework</p>
            </a>
            <a href="~/Home/Design#mother-daughter" class="design-2">
                <div class="round-box"><img src="~/Content/images/mother-daughter-icon.png" alt="Mother-daughter Relationship" /></div>
                <p>Mother-daughter <br />Relationship</p>
            </a>
            <a href="~/Home/Design#shg-program" class="design-3">
                <div class="round-box"><img src="~/Content/images/shg-icon.png" alt="Theoretical Framework" /></div>
                <p>SHG <br />Structure</p>
            </a>

        </div>
    </div>
    <div class="texture-bg" id="theoratical-framework">
        <div class="umang-design">
            <h2>Theoretical Framework</h2>
            <div class="bords"></div>
            <p>
                The Umang model has been conceptualised with a strategic interplay of women empowerment & leadership
                frameworks and socio-behavioural theories of change. It relies on <a href="javascript:void(0)"
                                                                                     class="modal-open">
                    Naila
                    Kabeer’s
                </a>
                <a href="https://www.files.ethz.ch/isn/28994/dp108.pdf" target="_blank">
                    <span class="highlights">Empowerment Model</span>
                </a> that
                offers a three-dimensional conceptual approach for women empowerment encompassing Resources (as part
                of
                the preconditions of empowerment), Agency (as an aspect of process) and Achievement (as a measure of
                outcomes). Kabeer defines empowerment as the process by which those who have been denied the ability
                to
                make choices acquire such an ability.
            </p>
        </div>
    </div>
    <div class="primary-bg">
        <div class="design-graph">
            <h2>Positioning Umang within the Empowerment Framework</h2>
            <div class="graph-flex">
                <div class="graph-scroll">
                    <div class="graph-box-1">
                        <div class="graph-txt bgr1">
                            Umang Assumptions
                            <img src="~/Content/images/arrow-down.png" class="arrows-down" />
                        </div>
                        <div class="graph-img">
                            <div class="hidden-content">
                                <ul>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>Mother and daughters enjoy a close relationship
                                        with a lot of caring and open sharing
                                    </li>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>Mothers have comparatively better space, position
                                        and voice in household decision making
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="graph-arrow">
                        <img src="~/Content/images/arrow-yellow.png" alt="arrow" />
                    </div>
                    <div class="graph-box-2">
                        <div class="graph-img">
                            <div class="round-achieve">
                                <i class="fa fa-plus pl1"></i>
                                Achievement (Outcomes)
                            </div>
                            <span class="enhance-life">Enhanced role in HH decision making & participation in public life</span>
                            <div class="round-resource">
                                <i class="fa fa-plus pl2"></i>
                                Access to <br />resources <br />(Preconditions)
                            </div>
                            <span class="peer-network">Peer network, knowledge and skills</span>
                            <div class="round-agency">
                                <i class="fa fa-plus pl3"></i>
                                Agency <br>(Process)
                            </div>
                            <span class="ability-define">Ability to define goals and act upon them</span>
                        </div>
                    </div>
                    <div class="graph-arrow">
                        <img src="~/Content/images/arrow-maroon.png" alt="arrow" />
                    </div>
                    <div class="graph-box-3">
                        <div class="graph-txt bgr3">
                            Umang Expectations
                            <img src="~/Content/images/arrow-down.png" class="arrows-down" />
                        </div>
                        <div class="graph-img">
                            <div class="hidden-content3">
                                <ul>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>Mothers will be able to stop restrictive social
                                        norms for adolescent daughters
                                    </li>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>Mothers will be able to create a supportive &
                                        enabling environment for daughters to fulfil their aspirations for a better future
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breaker"></div>
        </div>
        <div class="intervention-info">
            <h2>Socio-Ecological Model</h2>
            <h3>
                Besides, Umang works across all layers of the ‘Socio-ecological Model’, covering the entire <br>spectrum
                of
                relationships & spaces shared by women & girls – from intrapersonal to public policy levels.
            </h3>
            <div class="influence-round">
                <div class="round-content">
                    <h3>Level of Influence</h3>
                    <img src="~/Content/images/level-of-influence.png" alt="Level of Influence" />
                </div>
                <div class="round-1"><img src="~/Content/images/socio-ecological-method/public-policy.png" alt="" /></div>
                <div class="round-1-content">
                    <h3>Public Policy</h3>
                    <ul>
                        <li><i class="fa fa-circle"></i>Collective leadership among CLF leaders & SAC members</li>
                        <li><i class="fa fa-circle"></i>Participation at BLCPC meetings</li>
                        <li><i class="fa fa-circle"></i>Exposure visits</li>
                    </ul>
                </div>
                <div class="round-2"><img src="~/Content/images/socio-ecological-method/community.png" alt="" /></div>
                <div class="round-2-content">
                    <h3>Community</h3>
                    <ul>
                        <li><i class="fa fa-circle"></i>BLCPC</li>
                        <li><i class="fa fa-circle"></i>Duty bearers</li>
                        <li><i class="fa fa-circle"></i>Faith/Caste based leaders</li>
                        <li><i class="fa fa-circle"></i>Cluster Level Federations</li>
                        <li><i class="fa fa-circle"></i>Social & Gender Norms</li>
                    </ul>
                </div>
                <div class="round-3"><img src="~/Content/images/socio-ecological-method/organization.png" alt="" /></div>
                <div class="round-3-content">
                    <h3>Organizational</h3>
                    <ul>
                        <li><i class="fa fa-circle"></i>Village Level Committees</li>
                        <li><i class="fa fa-circle"></i>Village Organization</li>
                        <li><i class="fa fa-circle"></i>Kinship</li>
                        <li><i class="fa fa-circle"></i>Local governance</li>
                        <li><i class="fa fa-circle"></i>Neighbors</li>
                    </ul>
                </div>
                <div class="round-4"><img src="~/Content/images/socio-ecological-method/inter-personal.png" alt="" /></div>
                <div class="round-4-content">
                    <h3>Inter Personal</h3>
                    <ul>
                        <li><i class="fa fa-circle"></i>Child/early marriage survivor</li>
                        <li><i class="fa fa-circle"></i>Poor literacy level</li>
                        <li><i class="fa fa-circle"></i>Social & Gender Norms</li>
                        <li><i class="fa fa-circle"></i>Poor status in HH decisions</li>
                        <li><i class="fa fa-circle"></i>GBV, IPV, DV</li>
                    </ul>
                </div>
                <div class="round-5"><img src="~/Content/images/socio-ecological-method/mother-child.png" alt="" /></div>
                <div class="round-5-content">
                    <h3>Mother/Grandmother <br>of Adolescent Girl</h3>
                    <ul>
                        <li><i class="fa fa-circle"></i>Collective leadership among CLF leaders & SAC members</li>
                        <li><i class="fa fa-circle"></i>Participation at BLCPC meetings</li>
                        <li><i class="fa fa-circle"></i>Exposure visits</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="umang-steps">
        <div class="stage-process">
            <h4>5-Stage process for creation of social norms</h4>
            <h5>
                The essence of Project Umang lies in confronting the deeply engrained & regressive social norm around
                child/early marriage and negotiating a normative shift within families, communities & system-level
                through mothers and members of women’s collectives. Hence, the Umang model has adopted a measurable
                and scalable approach for facilitating normative shift in alignment with <a href="javascript:void(0)" class="modal-open2">
                    Cristina
                    Bicchieri’s
                </a>
                <a href="https://bit.ly/45ml1Li" target="_blank">
                    <span class="highlights2">
                        5 step process for
                        creation of social norms.
                    </span>
                </a>
            </h5>
            <div class="steps">
                <div class="step1" data-aos="fade-right" data-aos-duration="1500">
                    <img src="~/Content/images/belief.png" alt="personal belief">
                    <p>Change in factual and normative personal belief</p>
                </div>
                <div class="step-arrow" data-aos="fade-right" data-aos-duration="1500"></div>
                <div class="step2" data-aos="fade-right" data-aos-duration="1500">
                    <img src="~/Content/images/directon.png" alt="personal belief">
                    <p>Collective decision to change</p>
                </div>
                <div class="step-arrow" data-aos="fade-right" data-aos-duration="1500"></div>
                <div class="step3" data-aos="fade-right" data-aos-duration="1500">
                    <img src="~/Content/images/non-compliance.png" alt="personal belief">
                    <p>Introduction of sanctions for non-compliance</p>
                </div>
                <div class="step-arrow" data-aos="fade-right" data-aos-duration="1500"></div>
                <div class="step4" data-aos="fade-right" data-aos-duration="1500">
                    <img src="~/Content/images/balance.png" alt="personal belief">
                    <p>Creation of normative expectations</p>
                </div>
                <div class="step-arrow" data-aos="fade-right" data-aos-duration="1500"></div>
                <div class="step5" data-aos="fade-right" data-aos-duration="1500">
                    <img src="~/Content/images/search.png" alt="personal belief">
                    <p>Creation of empirical expectations</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mother-daughter-steps">
        <div class="umang-design" id="mother-daughter">
            <h2>Mother-daughter Relationship</h2>
            <div class="bords"></div>
            <div class="umang-relation">
                <div class="mother-daughter">
                    <img src="~/Content/images/mother-daughter-relation-point.png" alt="Mother-daughter Relationship" />
                    @*<img src="~/Content/images/mother-daughter-relation.jpg" alt="Mother-daughter Relationship">*@
                </div>
                <div class="umang-relation-point">
                    <div class="box-above">
                        <p>
                            Mothers and daughters are often the closest confidants of each other in households, who
                            mostly
                            spend time together, sharing their experiences and interacting about mundane things
                            regularly.
                            Their strong
                            sense of empathy also arises from confronting similar vulnerabilities and experiences within
                            households and in communities.
                        </p>
                        <p>
                            Project Umang is enhancing this relationship by strengthening the voices & spaces of mothers
                            and
                            daughters to delay age at marriage & shift norms. It is enabling mothers (who are members of
                            women’s collectives) to realise the incredible role they can play in influencing & shaping
                            their
                            daughters’ future.
                        </p>
                        <div class="hiddenTxt">

                            <p>
                                Project Umang believes that empowered mothers are better placed in nurturing the rights &
                                aspirations of their daughters. As most mothers (current mothers of adolescent girls) happen
                                to
                                be survivors of
                                child/early marriage themselves, they certainly don’t want their daughters to meet with the
                                same
                                fate. On the other hand, daughters too look up to their mothers for guidance, support and
                                empathy
                                within families. Umang is harnessing these dynamics with the following approach:
                            </p>
                        </div>
                        <button class="contentToggle">Read More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mother-daughter-points">
            <div class="important-points">
                <div class="take-points">
                    <span class="points-number">
                        <img src="~/Content/images/mother-daughter-6-steps/enricher.png" />
                    </span>
                    <p>
                        <b>Enriched mother-daughter communication –</b> <br />Umang is enriching their
                        regular conversations
                        with
                        discussions
                        around education goals & career aspirations, thus transforming them into meaningful
                        dialogues.
                    </p>
                </div>
                <div class="take-points">
                    <span class="points-number"><img src="~/Content/images/mother-daughter-6-steps/mother-participation.png" /></span>
                    <p>
                        Increased participation of mothers in daughters’ education and school
                        activities
                    </p>
                </div>
                <div class="take-points">
                    <span class="points-number">
                        <img src="~/Content/images/mother-daughter-6-steps/enabling-together.png" />
                    </span>
                    <p>
                        <b>Ensuring enabling environment -</b> <br />Increased provision of an enabling
                        environment at
                        household level for
                        daughter’s education and other actions for fulfilling her aspirations
                    </p>
                </div>
                <div class="take-points">
                    <span class="points-number"><img src="~/Content/images/mother-daughter-6-steps/issue=resolve.png" /></span>
                    <p>
                        <b>Resolving issues together –</b> <br />With regular & open discussions around
                        daughters’ academic
                        performance,
                        health issues, education, career, etc enable mothers to identify and resolve problems early.
                        Umang
                        is
                        also building capacity of mothers to confront their daughters’ problems with external
                        stakeholders.
                    </p>
                </div>
                <div class="take-points">
                    <span class="points-number"><img src="~/Content/images/mother-daughter-6-steps/early-child-marriage.png" /></span>
                    <p>
                        <b>Protecting against child/early marriage -</b> <br />Through modular sessions at
                        SHG meetings, it is
                        enhancing
                        communication & negotiation skills of mothers, making them aware on issues around
                        child/early
                        marriage,
                        child rights laws, etc and motivating them to realise their potential as mothers. These
                        mothers are
                        better equipped to convince their husbands and families against child/early marriage.
                    </p>
                </div>
                <div class="take-points">
                    <span class="points-number"><img src="~/Content/images/mother-daughter-6-steps/nurturing-aspirant.png" /></span>
                    <p>
                        <b>Nurturing aspirations –</b> <br />With enhanced awareness, skills and agency
                        (acquired through
                        Umang modular
                        sessions) mothers are participating in household decisions more strongly, especially
                        those
                        around
                        their
                        children. They are also able to identify and support their daughters aspirations with
                        complete
                        conviction.
                    </p>
                </div>
            </div>
            <a href="https://pciglobal.in/a-bond-powerful-enough-to-shift-gender-norms/" target="_blank"
               class="read-doc"><i class="fa fa-eye"></i> Read: A Bond Powerful Enough to Shift Gender Norms</a>
        </div>
    </div>
    <div class="umang-design" id="shg-program">
        <h3>SHG Structure</h3>
        <p>
            Project Umang has been layered upon SHG-federated structure of women collectives. In Jharkhand, this
            has been developed and nurtured by JSLPS.
        </p>
        <div class="shg-structure">
            <div class="women-around" data-aos="fade-right" data-aos-duration="2500" data-aos-delay="400">
                <img src="~/Content/images/shg-women-group.png" alt="shg women group">
            </div>
            <div class="shg-arrow" data-aos="fade-right" data-aos-duration="2500" data-aos-delay="1200">
                <img src="~/Content/images/shg-arrow.png" alt="shg arrow">
            </div>
            <div class="shg-3-step">
                <div class="top-ar" data-aos="fade-up" data-aos-duration="2500" data-aos-delay="2000">
                    <p>CLFs <br>5-40 VOs</p>
                </div>
                <div class="mdl-ar" data-aos="fade-up" data-aos-duration="2500" data-aos-delay="2400">
                    <p>Village Organisations <br>(VOs) 5-20 SHGs</p>
                </div>
                <div class="bot-ar" data-aos="fade-up" data-aos-duration="2500" data-aos-delay="2800">
                    <p>Self Help Groups (SHGs) <br>10-20 Women</p>
                </div>
                <div class="txt-ar" data-aos="fade-up" data-aos-duration="2500" data-aos-delay="3200">
                    <h4>3-tier Institutional Structure of SHGs</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="continue-box">
    <a href="~/Home/AimObjectives" class="link-box">
        <img src="~/Content/images/quick-link/aim.png" alt="Aim & Objective icon" />
        <p>Aim & Objectives</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
    <a href="~/Home/Journeysofar" class="link-box">
        <img src="~/Content/images/quick-link/journey-icon.png" alt="journey icon" />
        <p>Journey So Far</p>
    </a>
</div>
<!-- Modal 1 -->
<div class="modal-overlay hidden"></div>
<div class="modal-box hidden">
    <i class="fa fa-times modal-close"></i>
    <h4>Naila Kabeer</h4>
    <p>
        Naila Kabeer is a Fellow at the Institute of Development Studies, University of Sussex, UK. She is a
        socio-economist with research interests in gender, poverty, population & household economics.
    </p>
</div>
<!-- Modal 2 -->
<div class="modal-overlay2 hidden"></div>
<div class="modal-box2 hidden">
    <i class="fa fa-times modal-close2"></i>
    <h4>Cristina Bicchieri</h4>
    <p>Cristina Bicchieri is a philosopher and a Professor at the University of Pennsylvania, USA. </p>
</div>

<script>
    'use strict';
    const modalOpen = document.querySelector('.modal-open');
    const modalOverlay = document.querySelector('.modal-overlay');
    const modalBox = document.querySelector('.modal-box');
    const modalClose = document.querySelector('.modal-close');
    const modalOpen2 = document.querySelector('.modal-open2');
    const modalOverlay2 = document.querySelector('.modal-overlay2');
    const modalBox2 = document.querySelector('.modal-box2');
    const modalClose2 = document.querySelector('.modal-close2');
    // Modal 1
    modalOpen.addEventListener('click', function () {
        modalOverlay.classList.remove('hidden');
        modalBox.classList.remove('hidden');
    });
    modalClose.addEventListener('click', function () {
        modalOverlay.classList.add('hidden');
        modalBox.classList.add('hidden');
    })
    modalOverlay.addEventListener('click', function () {
        modalOverlay.classList.add('hidden');
        modalBox.classList.add('hidden');
    })
    // Modal 2
    modalOpen2.addEventListener('click', function () {
        modalOverlay2.classList.remove('hidden');
        modalBox2.classList.remove('hidden');
    });
    modalClose2.addEventListener('click', function () {
        modalOverlay2.classList.add('hidden');
        modalBox2.classList.add('hidden');
    })
    modalOverlay2.addEventListener('click', function () {
        modalOverlay2.classList.add('hidden');
        modalBox2.classList.add('hidden');
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".contentToggle").click(function () {
            var elem = $(".contentToggle").text();
            if (elem == "Read More") {
                $(".contentToggle").text("Read Less");
                $(".hiddenTxt").slideDown();
            } else {
                $(".contentToggle").text("Read More");
                $(".hiddenTxt").slideUp();
            }
        });
    });
</script>