<style>
    #ddmenu .current {
        color: #00AEC4;
    }
    .umang-design p {
        color: #222 !important;
    }
    .umang-design .shg-structure p {
        color: #fff !important;
    }
</style>
<!-- DESIGN -->
<section class="section">
    <div class="design-bg">
        <h2>Project Design</h2>
        <div class="design-points">
            <a href="~/Home/Design#theoratical-framework" class="design-1">
                <div class="round-box"><img src="~/Content/images/theoratical--icon.png" alt="Theoretical Framework" /></div>
                <p>Theoretical <br />Framework</p>
                <span class="more-btn-2">View more <i class="fa fa-arrow-right"></i></span>
            </a>
            <a href="~/Home/Design#mother-daughter" class="design-2">
                <div class="round-box"><img src="~/Content/images/mother-daughter-icon.png" alt="Mother-daughter Relationship" /></div>
                <p>Mother-daughter <br />Relationship</p>
                <span class="more-btn-2">View more <i class="fa fa-arrow-right"></i></span>
            </a>
            <a href="~/Home/Design#shg-program" class="design-3">
                <div class="round-box"><img src="~/Content/images/shg-icon.png" alt="Theoretical Framework" /></div>
                <p>SHG <br />Structure</p>
                <span class="more-btn-2">View more <i class="fa fa-arrow-right"></i></span>
            </a>

        </div>
    </div>
    <div class="texture-bg" id="theoratical-framework">
        <div class="umang-design">
            <h2>Theoretical Framework</h2>
            <div class="bords"></div>
            <p class="txt-style2">
                The Umang model has been conceptualised with a strategic interplay of women empowerment & leadership
                frameworks <br />and socio-behavioural theories of change.
            </p>
        </div>
    </div>
    <div class="primary-bgss">
        <div class="design-graph">
            <h2>Positioning Umang within the Empowerment Framework</h2>
            <p>
                It relies on <a href="javascript:void(0)"
                                class="modal-open">
                    Naila
                    Kabeer’s
                </a>
                <a href="https://www.files.ethz.ch/isn/28994/dp108.pdf" target="_blank">
                    <span class="highlights">Empowerment Model</span>
                </a> that
                offers a three-dimensional conceptual approach for women empowerment encompassing Resources (as part
                of
                the preconditions of empowerment), Agency (as an aspect of process) and Achievement (as a measure of
                outcomes). <br />Kabeer defines empowerment as the process by which those who have been denied the ability
                to
                make choices acquire such an ability.
            </p>
            <div class="graph-flex">
                <div class="graph-scroll">
                    <div class="graph-box-1">
                        <div class="graph-txt bgr1">
                            Umang Assumptions
                        </div>
                        <div class="graph-img">
                            <div class="hidden-content">
                                <ul>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>Mother and daughters enjoy a close relationship
                                        with a lot of caring and open sharing
                                    </li>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>Mothers have comparatively better space, position
                                        and voice in household decision making
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="graph-arrow">
                        <img src="~/Content/images/arrow-yellow.png" alt="arrow" />
                    </div>
                    <div class="graph-box-2">
                        <div class="graph-img">
                            <div class="round-achieve">
                                <i class="fa fa-plus pl1"></i>
                                Achievement (Outcomes)
                            </div>
                            <span class="enhance-life">Enhanced role in HH decision making & participation in public life</span>
                            <div class="round-resource">
                                <i class="fa fa-plus pl2"></i>
                                Access to <br />resources <br />(Preconditions)
                            </div>
                            <span class="peer-network">Peer network, knowledge and skills</span>
                            <div class="round-agency">
                                <i class="fa fa-plus pl3"></i>
                                Agency <br>(Process)
                            </div>
                            <span class="ability-define">Ability to define goals and act upon them</span>
                        </div>
                    </div>
                    <div class="graph-arrow">
                        <img src="~/Content/images/arrow-maroon.png" alt="arrow" />
                    </div>
                    <div class="graph-box-3">
                        <div class="graph-txt bgr3">
                            Umang Expectations
                        </div>
                        <div class="graph-img">
                            <div class="hidden-content3">
                                <ul>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>Mothers will be able to stop restrictive social
                                        norms for adolescent daughters
                                    </li>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>Mothers will be able to create a supportive &
                                        enabling environment for daughters to fulfil their aspirations for a better future
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breaker"></div>
        </div>
        <div class="influence-bg cluster-bg">
            <div class="intervention-info intervention-back">
                <h2>Socio-ecological Model</h2>
                <h3>
                    Umang works across all layers of the ‘Socio-ecological Model’, covering the entire spectrum of relationships & spaces <br />shared by women & girls – from intrapersonal to public policy levels.
                </h3>
                <div class="div-block">
                    <div class="model-scroller">
                        <div class="info-graph5">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-1" />
                            <p>Public Policy</p>
                        </div>
                        <div class="block-fixed-5">
                            <img src="/Content/images/arrow-right.png" alt="arrow" class="arrow-right-10">
                            <ul>
                                <li><i class="fa fa-circle"></i>Duty bearers</li>
                                <li><i class="fa fa-circle"></i>PCMA 2005</li>
                                <li><i class="fa fa-circle"></i>Policies-health, education, skilling</li>
                                <li><i class="fa fa-circle"></i>Laws & entitlements</li>
                                <li><i class="fa fa-circle"></i>Integrated child protection scheme</li>
                            </ul>
                        </div>
                        <div class="info-graph4">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-2" />
                            <p>Community</p>
                        </div>
                        <div class="block-fixed-4">
                            <img src="/Content/images/arrow-right.png" alt="arrow" class="arrow-right-9">
                            <ul>
                                <li><i class="fa fa-circle"></i>BLCPC</li>
                                <li><i class="fa fa-circle"></i>Duty bearers</li>
                                <li><i class="fa fa-circle"></i>Cluster level federations</li>
                                <li><i class="fa fa-circle"></i>Faith/Caste based leaders</li>
                                <li><i class="fa fa-circle"></i>Social & gender norms</li>
                            </ul>
                        </div>
                        <div class="info-graph3">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-3" />
                            <p>
                                Organization
                            </p>
                        </div>
                        <div class="block-fixed-3">
                            <img src="/Content/images/arrow-left.png" alt="arrow" class="arrow-left-8">
                            <ul>
                                <li><i class="fa fa-circle"></i>Village level community</li>
                                <li><i class="fa fa-circle"></i>Village organization</li>
                                <li><i class="fa fa-circle"></i>Local governance</li>
                                <li><i class="fa fa-circle"></i>Kinship</li>
                                <li>
                                    <i class="fa fa-circle"></i>Neighbours
                                </li>
                            </ul>
                        </div>
                        <div class="info-graph2">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-4" />
                            <p>Inter Personal</p>
                        </div>
                        <div class="block-fixed-2">
                            <img src="/Content/images/arrow-right.png" alt="arrow" class="arrow-right-7">
                            <ul>
                                <li>
                                    <i class="fa fa-circle"></i>Daughter
                                </li>
                                <li><i class="fa fa-circle"></i>Social & Gender Norms</li>
                                <li><i class="fa fa-circle"></i>SHG Members</li>
                                <li><i class="fa fa-circle"></i>Family members</li>
                            </ul>
                        </div>
                        <div class="info-graph1">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-5" />
                            <p>Mother or <br />Grandmother of Adolescent Girl</p>
                        </div>
                        <div class="block-fixed-1">
                            <img src="/Content/images/arrow-left.png" alt="arrow" class="arrow-left-6">
                            <ul>
                                <li><i class="fa fa-circle"></i>Child/early marriage survivor</li>
                                <li><i class="fa fa-circle"></i>Poor literacy level</li>
                                <li><i class="fa fa-circle"></i>Social & Gender Norms</li>
                                <li>
                                    <i class="fa fa-circle"></i>Poor status in HH decisions
                                </li>
                                <li>
                                    <i class="fa fa-circle"></i>GBV, IPV, DV
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 5 STEPS -->
    <div class="umang-steps">
        <div class="stage-process">
            <div class="stage-title">
                <h4>5-Stage process for creation of social norms</h4>
                <h5>
                    The essence of Project Umang lies in confronting the deeply engrained & regressive social norm around
                    child/early marriage and negotiating a normative shift with families, communities & system-level
                    through mothers & members of women’s collectives. Hence, the Umang model has adopted a measurable
                    & scalable approach for facilitating normative shift in alignment with <a href="javascript:void(0)" class="modal-open2">
                        Cristina
                        Bicchieri’s
                    </a>
                    <a href="https://bit.ly/45ml1Li" target="_blank">
                        <span class="highlights2">
                            5 step process for
                            creation of social norms.
                        </span>
                    </a>
                </h5>
            </div>
            <ul class="steps" id="steps">
            <li class="step1" data-aos="fade-right" data-aos-duration="1500">
                <a href="javascript:void(0)" class="callup">
                    <img src="~/Content/images/belief.png" alt="personal belief">
                    <p>Change in factual and normative personal belief</p>
                </a>
            </li>
            <li class="step1" data-aos="fade-right" data-aos-duration="1500">
                <a href="javascript:void(0)" class="callup">
                    <img src="~/Content/images/directon.png" alt="personal belief">
                    <p>Collective decision to change</p>
                </a>
            </li>
            <li class="step1" data-aos="fade-right" data-aos-duration="1500">
                <a href="javascript:void(0)" class="callup">
                    <img src="~/Content/images/non-compliance.png" alt="personal belief">
                    <p>Introduction of sanctions for non-compliance</p>
                </a>
            </li>
            <li class="step1" data-aos="fade-right" data-aos-duration="1500">
                <a href="javascript:void(0)" class="callup">
                    <img src="~/Content/images/balance.png" alt="personal belief">
                    <p>Creation of normative expectations</p>
                </a>
            </li>
            <li class="step1" data-aos="fade-right" data-aos-duration="1500">
                <a href="javascript:void(0)" class="callup">
                    <img src="~/Content/images/search.png" alt="personal belief">
                    <p>Creation of empirical expectations</p>
                </a>
            </li>
        </ul>
        </div>
    </div>
    <div class="mother-daughter-steps">
        <div class="umang-design" id="mother-daughter">
            <h2>Mother-daughter Relationship</h2>
            <div class="bords"></div>
            <div class="umang-relation">
                <div class="mother-daughter">
                    <div class="intervention-info">
            <div class="influence-round">
                <div class="round-content">
                    <h5>Mother-Daughter Relationship</h5>
                </div>
                <div class="round-1"><img src="~/Content/images/socio-ecological-method/public-policy.png" alt="" /></div>
                <div class="round-1-content">
                    <h4>
                        Nurturing
                        aspirations
                    </h4>
                    <p>
                        With enhanced awareness, skills and agency (acquired through Umang modular sessions) mothers are participating in household decisions more strongly, especially those around their children.
                    </p>
                </div>
                <div class="round-2"><img src="~/Content/images/socio-ecological-method/community.png" alt="" /></div>
                <div class="round-2-content">
                    <h4>
                        Protecting
                        against
                        child/early
                        marriage
                    </h4>
                    <p>Modular sessions are enhancing communication & negotiation skills of mothers, making them aware on issues around child marriage, and motivating them to realise their potential as mothers.</p>
                </div>
                <div class="round-3"><img src="~/Content/images/socio-ecological-method/organization.png" alt="" /></div>
                <div class="round-3-content">
                    <h4>
                        Resolving issues
                        together
                    </h4>
                    <p>
                        Regular & open discussions around daughters’ health, education, and career concerns enable mothers to identify & resolve problems early. Also, their capacities are built to confront problems with external stakeholders.
                    </p>
                </div>
                <div class="round-4"><img src="~/Content/images/socio-ecological-method/inter-personal.png" alt="" /></div>
                <div class="round-4-content">                    
                    <h4>
                        Ensuring
                        enabling
                        environment
                    </h4>
                    <p>
                        Increased provision of an enabling environment at household level for daughter’s education and other actions for fulfilling her aspirations
                    </p>
                </div>
                <div class="round-5"><img src="~/Content/images/socio-ecological-method/mother-child.png" alt="" /></div>
                <div class="round-5-content">
                    <h4>
                        Increased
                        participation
                        of mothers
                    </h4>
                    <p>
                        Increased participation of mothers in daughters’ education and school activities
                    </p>
                </div>
                <div class="round-6"><img src="~/Content/images/socio-ecological-method/nurturing.png" alt="" /></div>
                <div class="round-6-content">
                    <h4>
                        Enriched mother-daughter
                        communication
                    </h4>
                    <p>Umang is enriching their regular conversations with discussions around education goals & career aspirations, thus transforming them into meaningful dialogues.</p>
                    
                </div>
            </div>
        </div>
                </div>
                <div class="umang-relation-point">
                    <div class="box-above">
                        <p>
                            Mothers and daughters are often the closest confidants of each other in households, who
                            mostly
                            spend time together, sharing their experiences and interacting about mundane things
                            regularly.
                            Their strong
                            sense of empathy also arises from confronting similar vulnerabilities and experiences within
                            households and in communities.
                        </p>

                        <div class="hiddenTxt">
                            <p>
                                Project Umang is enhancing this relationship by strengthening the voices & spaces of mothers
                                and
                                daughters to delay age at marriage & shift norms. It is enabling mothers (who are members of
                                women’s collectives) to realise the incredible role they can play in influencing & shaping
                                their
                                daughters’ future.
                            </p>
                            <p>
                                Project Umang believes that empowered mothers are better placed in nurturing the rights &
                                aspirations of their daughters. As most mothers (current mothers of adolescent girls) happen
                                to
                                be survivors of
                                child/early marriage themselves, they certainly don’t want their daughters to meet with the
                                same
                                fate. On the other hand, daughters too look up to their mothers for guidance, support and
                                empathy
                                within families. Umang is harnessing these dynamics with the following approach:
                            </p>
                        </div>
                        <button class="contentToggle">Read More</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="umang-design" id="shg-program">
        <h3>
            Leveraging the 3-tier federated structure of women collectives
        </h3>
        <div class="bords"></div>
        <h4 class="shg-title">
            Umang has reached out to
        </h4>
        <div class="shg-structure">
            <div class="shg-3-step">
                <div class="top-ar">
                    <p>CLFs <br>5-40 VOs</p>
                    <div class="reach-clf">
                        <h5>197 CLFs <sup><i class="fa fa-asterisk"></i></sup></h5>
                        <img src="~/Content/images/reched-arrow.png" alt="reach arrow" />
                        <ul>
                            <li>
                                Built <span>collective leadership at system level</span> (for engagement with duty bearers on gender issues)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-ar">
                    <p>Village Organisations <br>(VOs) 5-20 SHGs</p>
                    <div class="reach-vo">
                        <h5>3947 VOs <sup><i class="fa fa-asterisk"></i></sup></h5>
                        <img src="~/Content/images/reched-arrow.png" alt="reach arrow" />
                        <ul>
                            <li>
                                Capacitated to raise issues at <span>village level</span>
                            </li>
                            <li>Engage with PRIs, school authorities, etc</li>
                            <li>
                                Initiate re-enrollment drives for school dropout girls
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bot-ar">
                    <p>Self Help Groups <br>(10-20 Women)</p>
                    <div class="reach-shg">
                        <h5>49629 SHGs <sup><i class="fa fa-asterisk"></i></sup></h5>
                        <img src="~/Content/images/reched-arrow.png" alt="reach arrow" />
                        <ul>
                            <li>
                                Generated awareness on CEFM
                            </li>
                            <li>
                                Enhanced negotiation skills & decision-making at <span>Household Level</span> (to voice daughter’s concerns)
                            </li>
                            <li>
                                Built peer support at <span>Community Level</span> (to create an enabling environment for girls)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="txt-ar">
                    <h4>3-tier Institutional Structure</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="continue-box">
    <a href="~/Home/AimObjectives" class="link-box">
        <img src="~/Content/images/quick-link/aim.png" alt="Aim & Objective icon" />
        <p>Aim & Objectives</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
    <a href="~/Home/Journeysofar" class="link-box">
        <img src="~/Content/images/quick-link/journey-icon.png" alt="journey icon" />
        <p>Umang Roadmap</p>
    </a>
</div>
<!-- Modal 1 -->
<div class="modal-overlay hidden"></div>
<div class="modal-box hidden">
    <i class="fa fa-times modal-close"></i>
    <h4>Naila Kabeer</h4>
    <p>
        Naila Kabeer is a Fellow at the Institute of Development Studies, University of Sussex, UK. She is a
        socio-economist with research interests in gender, poverty, population & household economics.
    </p>
</div>
<!-- Modal 2 -->
<div class="modal-overlay2 hidden"></div>
<div class="modal-box2 hidden">
    <i class="fa fa-times modal-close2"></i>
    <h4>Cristina Bicchieri</h4>
    <p>Cristina Bicchieri is a philosopher and a Professor at the University of Pennsylvania, USA. </p>
</div>

<script>
    'use strict';
    const modalOpen = document.querySelector('.modal-open');
    const modalOverlay = document.querySelector('.modal-overlay');
    const modalBox = document.querySelector('.modal-box');
    const modalClose = document.querySelector('.modal-close');
    const modalOpen2 = document.querySelector('.modal-open2');
    const modalOverlay2 = document.querySelector('.modal-overlay2');
    const modalBox2 = document.querySelector('.modal-box2');
    const modalClose2 = document.querySelector('.modal-close2');
    // Modal 1
    modalOpen.addEventListener('click', function () {
        modalOverlay.classList.remove('hidden');
        modalBox.classList.remove('hidden');
    });
    modalClose.addEventListener('click', function () {
        modalOverlay.classList.add('hidden');
        modalBox.classList.add('hidden');
    })
    modalOverlay.addEventListener('click', function () {
        modalOverlay.classList.add('hidden');
        modalBox.classList.add('hidden');
    })
    // Modal 2
    modalOpen2.addEventListener('click', function () {
        modalOverlay2.classList.remove('hidden');
        modalBox2.classList.remove('hidden');
    });
    modalClose2.addEventListener('click', function () {
        modalOverlay2.classList.add('hidden');
        modalBox2.classList.add('hidden');
    })
    modalOverlay2.addEventListener('click', function () {
        modalOverlay2.classList.add('hidden');
        modalBox2.classList.add('hidden');
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".contentToggle").click(function () {
            var elem = $(".contentToggle").text();
            if (elem == "Read More") {
                $(".contentToggle").text("Read Less");
                $(".hiddenTxt").slideDown();
            } else {
                $(".contentToggle").text("Read More");
                $(".hiddenTxt").slideUp();
            }
        });
    });
</script>
<script>
    $("#steps li a").hover(function () {
        $(this).parent().prevAll().andSelf().addClass('selected').filter(':last').nextAll().removeClass('selected');
    });
</script>