<style>
    #ddmenu .current5 {
        color: #00AEC4;
    }

    .banner-title {
        margin: 40px auto 30px;
        background: none;
        padding: 0px 20px 40px 0px;
    }

        .banner-title h2 {
            color: #00AEC4;
            font-size: 40px;
            padding-bottom: 20px;
        }
    .manage-achievement p {
        font-size: 18px;
        line-height: 30px;
    }
    .eval h4 {
        font-size: 28px;
        font-family: 'Merriweather', serif;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .eval h3 {
        font-style: italic;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Merriweather', serif;
    }
    .manage-achievement h5 {
        font-family: 'Merriweather', serif;
        font-size: 25px;
    }
    @@media all and (max-width: 920px) {
        .eval h3 {
            font-size: 27px
        }
        .manage-achievement h5 {
            font-size: 24px;
        }
        .manage-achievement p {
            font-size: 17px;
            line-height: 28px;
        }
    }
    @@media all and (max-width: 768px) {
        .eval h3 {
            font-size: 25px
        }
        .manage-achievement h5 {
            font-size: 22px;
        }
        .manage-achievement p {
            font-size: 16px;
            line-height: 26px;
        }
    }
</style>
<!-- Image Zoom Banner -->
<link href="~/Content/css/simp.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/js/1-simp-lib.min.js"></script>
<script type="text/javascript" src="~/Content/js/2-simp-lib.min.js"></script>
<div class="top-spacer"></div>
<div class="manage-achievement">
    <h2>Evaluation Study</h2>
    <div class="left-bord"></div>
    <div class="eval">
        <img src="~/Content/images/evaluation-value.jpg" alt="Evaluation Study" class="eval-img" />
        <div>
            <h4>Learning from</h4>
            <h3>'A Norm shifting & Empowerment focussed Model'</h3>
            <h5>to address child/early marriage of adolescent girls in Jharkhand</h5>
            <p>To test the efficacy of Umang pilot, PCI India has conducted baseline (Feb-Mar'21) and endline (Feb-Mar'23) surveys with mothers and daughters through dyad approach across 100 villages in Jamtara and Godda in Jharkhand. This document is a compilation of key findings. </p>
            <a href="~/Content/download/Umang_Endline_Findings_External_Stakeholders.pdf" target="_blank" class="module-pdf-1 btn-module">Click to download</a>
        </div>
    </div>
</div>