<style>
    #ddmenu .current5 {
        color: #00AEC4;
    }

    .banner-title {
        margin: 40px auto 30px;
        background: none;
        padding: 0px 20px 40px 0px;
    }

        .banner-title h2 {
            color: #00AEC4;
            font-size: 40px;
            padding-bottom: 20px;
        }
    .manage-achievement p {
        font-size: 18px;
        line-height: 30px;
    }
    .eval-img {
        border-radius: 250px 250px 0 0;
    }
</style>
<!-- Image Zoom Banner -->
<link href="~/Content/css/simp.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/js/1-simp-lib.min.js"></script>
<script type="text/javascript" src="~/Content/js/2-simp-lib.min.js"></script>
<!-- Banner -->
<!--<div class="zoomer-banner">
    <div class="carousel-container">
        <div class="weather-time-widget-holder"> </div>
        <div id="homeCarousel" class="carousel slide simple-carousel carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" width="100%" height="100%" alt="" src="~/Content/images/slider/evaluation-study.jpg" />
                    <div class="slider-text">
                        <h1>Evaluation Study</h1>-->
                        @*<p>Enhancing Leadership & Advocacy Skills of CLF Members</p>*@
                    <!--</div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="top-spacer"></div>
<div class="manage-achievement">
    <h2>Evaluation Study</h2>
    <div class="left-bord"></div>
    <div class="eval">
        <img src="~/Content/images/evaluation-value.jpg" alt="Evaluation Study" class="eval-img" />
        <div>
            <p>To test the efficacy of the empowerment-integrated and norm-shifting model of Umang, PCI India has conducted baseline (Feb-Mar'21) and endline (Feb-Mar'23) surveys with mothers and daughters through dyad approach across 100 villages in Jamata and Godda in jharkhand. This document is a presentation of the findings. </p>
            <a href="~/Content/download/Umang_Endline_Findings_External_Stakeholders.pdf" target="_blank" class="module-pdf-1 btn-module">Click here to download the file</a>
        </div>
    </div>
</div>