@{
    ViewBag.Title = "Home Page";
}

<div class="landing-message">
    <h2>Welcome to Umang Microsite</h2>
</div>
<div class="continue-box">
    <a href="~/Home/AimObjectives" class="link-box">
        <img src="~/Content/images/quick-link/aim.png" alt="Aim & Objective icon" />
        <p>Aim & Objectives</p>
    </a>
    <a href="~/Home/Design" class="link-box">
        <img src="~/Content/images/quick-link/design-icon.png" alt="Aim & Objective icon" />
        <p>Design</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
    <a href="~/Home/Journeysofar" class="link-box">
        <img src="~/Content/images/quick-link/journey-icon.png" alt="journey icon" />
        <p>Journey So Far</p>
    </a>
</div>
