@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<style>
    #ddmenu .current {
        color: #00AEC4;
    }
</style>
<!-- Image Zoom Banner -->
<link href="~/Content/css/simp.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/js/1-simp-lib.min.js"></script>
<script type="text/javascript" src="~/Content/js/2-simp-lib.min.js"></script>
<!-- Banner -->
<div class="zoomer-banner">
    <div class="carousel-container">
        <div class="weather-time-widget-holder"> </div>
        <div id="homeCarousel" class="carousel slide simple-carousel carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"> </li>
                <li data-target="#homeCarousel" data-slide-to="1" class=""> </li>
                <li data-target="#homeCarousel" data-slide-to="2" class=""> </li>
                <li data-target="#homeCarousel" data-slide-to="3" class=""> </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <a href="~/Home/Modules/"><img class="img-responsive" width="100%" height="100%" alt="" src="~/Content/images/slider/slide-1.jpg" /></a>
                    <div class="slider-text">
                        <h1>EMPOWERED GIRLS</h1>
                        <p>through strong women's collectives</p>
                    </div>
                </div>
                <div class="item">
                    <a href="~/Home/Design#mother-daughter"><img class="img-responsive" width="100%" height="768" alt="" src="~/Content/images/slider/slide-2.jpg" /></a>
                    <div class="slider-text">
                        <h1>SOCIAL NORMS</h1>
                        <p>shifted through mother-daughter bond</p>
                    </div>
                </div>
                <div class="item">
                    <a href="~/Home/KishoriHelpDesk"><img class="img-responsive" width="100%" height="768" alt="" src="~/Content/images/slider/slide-3.jpg" /></a>
                    <div class="slider-text">
                        <h1>GUIDED PATHWAYS</h1>
                        <p>for adolescent girls through Kishori Help Desk</p>
                    </div>
                </div>
                <div class="item">
                    <a href="~/Home/WomenLeadership"><img class="img-responsive" width="100%" height="768" alt="" src="~/Content/images/slider/slide-4.jpg" /></a>
                    <div class="slider-text">
                        <h1>WOMEN LEADERS</h1>
                        <p>taking collective action</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AIM -->
<div class="default-bg">
    <div class="quick-message">
        <div class="quick-info">
            <h1>Umang</h1>
            <div class="border-bottom"></div>
            <h5 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">'A Norm-shifting & Empowerment-focussed Model'</h5>
            <h4 data-aos="fade-up" data-aos-duration="1800" data-aos-delay="120">to address child/early marriage of adolescent girls in Jharkhand</h4>
        </div>
        @*<div class="quick-graphic">
            <img src="~/Content/images/umang-cover.jpg" alt="girl art design" class="girl-work" />
        </div>*@
    </div>
</div>
<!-- Objectives -->
<div class="object-manage">
    <div class="objectives-content">
        <div class="title-round" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
            <span>Objectives</span>
        </div>
        <ul>
            <li class="obj-bgr-1" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="250"><span class="obj-icon1"><i class="fa fa-female"></i></span> Capacitate women collectives for create an enabling environment & encourage adolescent girls to fulfil their aspirations.</li>
            <li class="obj-bgr-2" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300"><span class="obj-icon2"><i class="fa fa-child"></i></span> Establish a scalable & sustainable model for addressing child/early marriage through SHG platform</li>
            <a href="~/Home/AimObjectives" class="btn-more" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">Learn More</a>
        </ul>
    </div>    
</div>

<!-- Impact -->
<div class="primary-bg">
    <div class="impact-stat">
        <h2 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">We celebrate</h2>
        <p data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">Since its inception in 2019, Umang has been empowering mothers, who are able to stand against child/early marriage and nurture the aspirations of their daughters, thus enhancing prospects of a better future for <span class="txt-bold">46,000+ adolescent girls</span> in Godda & Jamtara.</p>
        @*<h4 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="140">Output</h4>*@
        <div class="impact-flex" data-module="countup">
            @*<div class="imp-1" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">
                <img src="~/Content/images/umang-stat/child-marriage.png" alt="Child/early marriages averted" />
                <div class="data-1">
                    <h3><span class="stat-number" data-countup-number="250">250</span></h3>
                </div>
                <h4>Child/early marriages <br />averted</h4>
            </div>*@
            <div class="imp-2" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="200">
                <img src="~/Content/images/umang-stat/women-capatited.png" alt="Women capacitated" />
                <div class="data-2">
                    <h3><span class="stat-number" data-countup-number="1,78,000">1,78,000</span></h3>
                </div>
                <h4>Women <br />capacitated</h4>
            </div>
            <div class="imp-3" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="300">
                <img src="~/Content/images/umang-stat/girl-education.png" alt="Girls re-enrolled
                    in schools" />
                <div class="data-3">
                    <h3><span class="stat-number" data-countup-number="300">300</span>+</h3>
                </div>
                <h4>
                    Girls re-enrolled<br />
                    in schools
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- Reach Out -->

<div class="umang-manage">
    @*<h2>Umang has reached out to</h2>*@
    <h2 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
        Encouraging Outcomes
    </h2>
    <p data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
        Evaluation findings show positive trend between baseline (Feb 2021) & endline (March 2023) surveys.
    </p>
    <div class="outcomes-data">
        <div class="datas" data-aos="fade-up" data-aos-duration="1700" data-aos-delay="120">
            @*<img src="~/Content/images/girl-decision-outcome.png" alt="Intra-household Decisions" />*@
            <h4 class="data-title1">Intra-Household <br />Decisions</h4>
            <h5>Improved say of mothers in their children's marriage decisions</h5>
            <img src="~/Content/images/intra-household.png" alt="Intra-household Decisions" />
            @*<div class="outcome1">
            <div class="datas-1">
                <span>When</span>
                <div class="dt">
                    <div class="when-data1 data-bg1">52%</div>
                    <div class="when-data1 data-bg2">65%</div>
                </div>
            </div>
            <div class="datas-2">
                <span>Whom</span>
                <div class="dt2">
                    <div class="when-data1 data-bg3">45%</div>
                    <div class="when-data1 data-bg4">61%</div>
                </div>
            </div>
        </div>*@
        </div>
        <div class="datas" data-aos="fade-up" data-aos-duration="1800" data-aos-delay="140">
            @*<img src="~/Content/images/education-outcome-icon.png" alt="Educational Aspirations" />*@
            <h4 class="data-title2">Educational <br />Aspirations</h4>
            <h5>Enhanced confidence among girls to study at least up to 12th grade and/or above</h5>
            <img src="~/Content/images/Educational-Aspirations.png" alt="Educational Aspirations" />
            @*<div class="outcome2">
            <div class="md-data1">
                <div class="md-ot">
                    <div class="ot-data-1 ot-78">78%</div>
                    <div class="ot-data-1 ot-87">87%</div>
                </div>
                <span>Desired expectations*</span>
            </div>
            <div class="md-data2">
                <div class="md-ot">
                    <div class="ot-data-1 ot-60">60%</div>
                    <div class="ot-data-1 ot-75">75%</div>
                </div>
                <span>Real expectations*</span>
            </div>
        </div>*@
        </div>
        <div class="datas" data-aos="fade-up" data-aos-duration="1900" data-aos-delay="160">
            @*<img src="~/Content/images/mother-daughter-relation-outcome.png" alt="Mother-daughter Conversations" />*@
            <h4 class="data-title3">Age at <br />Marriage</h4>
            <h5>Increased agency & conviction among girls to resist pressure of early marriage</h5>
            <img src="~/Content/images/Age-at-Marriage.png" alt="Age at Marriage" />
            @*<div class="outcome3">
            <div class="datas-3">
                <span>Health</span>
                <div class="dt3">
                    <div class="when-data1 data-bg5">94%</div>
                    <div class="when-data1 data-bg6">100%</div>
                </div>
            </div>
            <div class="datas-4">
                <span>Education</span>
                <div class="dt4">
                    <div class="when-data1 data-bg7">86%</div>
                    <div class="when-data1 data-bg8">97%</div>
                </div>
            </div>
            <div class="datas-5">
                <span>Safety</span>
                <div class="dt5">
                    <div class="when-data1 data-bg9">70%</div>
                    <div class="when-data1 data-bg10">82%</div>
                </div>
            </div>
        </div>*@
        </div>
    </div>
    <div class="outcome-highlight">
        <div class="highligh-1">
            <span></span>
            Baseine
        </div>
        <div class="highligh-2">
            <span></span>
            Endline
        </div>
    </div>
    <p><a href="~/Home/EvaluationStudy">Read more</a></p>
    <div class="breaker"></div>
</div>
<div class="grey-bg">
    <div class="video-testim">
        <h2 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
            <span class="video-round">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" class="svg-video"><path d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z" /></svg>
            </span>
            Umang Film
        </h2>
        <div class="video-flex">
            <div class="video-box vd1" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <div class="lex">
                    <div class="side-vide">
                        <div class="side-video-container">
                            <iframe width="100%" height="290" src="https://www.youtube.com/embed/Ann4GMBpMI4"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script id="rendered-js" type="module">
    export default class countUp {
        constructor(el) {
            this.el = el;
            this.setVars();
            this.init();
        }

        setVars() {
            this.number = this.el.querySelectorAll("[data-countup-number]");
            this.observerOptions = { root: null, rootMargin: "0px 0px", threshold: 0 };
            this.observer = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    const end = parseFloat(
                        entry.target.dataset.countupNumber.replace(/,/g, ""));

                    const decimals = this.countDecimals(end);
                    if (entry.isIntersecting) {
                        this.iterateValue(entry.target, end, decimals);
                    }
                });
            }, this.observerOptions);
        }

        init() {
            if (this.number.length > 0) {
                this.number.forEach(el => {
                    this.observer.observe(el);
                });
            }
        }

        iterateValue(el, end, decimals) {
            const start = 0;
            const duration = 2500;
            let startTimestamp = null;

            const step = timestamp => {
                if (!startTimestamp) startTimestamp = timestamp;
                const elapsedPercent = (timestamp - startTimestamp) / duration;
                const easedProgress = Math.min(this.easeOutQuint(elapsedPercent), 1);
                let interimNumber = Math.abs(easedProgress * (end - start) + start);
                el.innerHTML = this.formatNumber(interimNumber, decimals);
                if (easedProgress < 1) {
                    window.requestAnimationFrame(step);
                }
            };

            window.requestAnimationFrame(step);
        }

        easeOutQuad(x) {
            return 1 - Math.pow(1 - x, 3);
        }

        easeOutQuint(x) {
            return 1 - Math.pow(1 - x, 5);
        }

        countDecimals(val) {
            if (Math.floor(val) === val) return 0;
            return val.toString().split(".")[1].length || 0;
        }

        formatNumber(val, decimals) {
            return val.toLocaleString("en-US", {
                minimumFractionDigits: decimals,
                maximumFractionDigits: decimals
            });

        }
    }

    const dataModules = [...document.querySelectorAll('[data-module="countup"]')];

    dataModules.forEach(element => {
        element.dataset.module.split(" ").forEach(function () {
            new countUp(element);
        });
    });
</script>
