<link rel="stylesheet" href="~/Content/css/tabbing.css" />
<style>
    #ddmenu .current {
        color: #00AEC4;
    }
    .div-block {
        padding-bottom: 70px;
    }
</style>
<!-- Banner -->
<div class="banner-manage"><img src="/Content/images/slider/intervention-banner.jpg" alt="intervention banner"></div>

<div class="banner-title">
    <h2><span>Intervention</span></h2>
</div>
<!-- INTERVENTION -->
<section class="section" id="section--3">
    <div class="umang-intervention">
        @*<div class="manage-district-bg">
            <div class="district-block">
                <h3>Project Umang has been implemented in two phases:</h3>
                <div class="pilot-flex">
                    <div class="pilot-1">
                        <div class="img-box">
                            <img src="/Content/images/pilot.jpeg" alt="Pilot (Oct 2019 – Mar 2023)">
                        </div>
                        <h4>Pilot (Oct 2019 – Mar 2023)</h4>
                        <p>in Nala block (Jamtara) and Godda Sadar block (Godda)</p>
                    </div>
                    <div class="pilot-2">
                        <div class="img-box">
                            <img src="/Content/images/district-saturation.jpeg"
                                 alt="District Saturation (Jan 2022 - June 2024)">
                        </div>
                        <h4>District Saturation (Jan 2022 - June 2024)</h4>
                        <p>nearly all across Jamtara & Godda</p>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="intervention-bg">
            <div class="disctrict-map">
                <h2>Intervention Area</h2>
                @*<p>
                    Umang intervention has two major components including modular sessions (that are held at SHG, VO and
                    CLF
                    levels) and Kishori Help Desk (that creates an enabling environment for girls and offers them
                    exposure
                    to educational pathways and career options through counselling support)
                </p>*@
                <div class="pcss3t pcss3t-effect-scale pcss3t-theme-1">
                    <input type="radio" name="pcss3t" checked id="tab1" class="tab-content-first">
                    <label for="tab1">Pilot Phase<br /><span class="blocks">(2 Blocks)</span></label>

                    <input type="radio" name="pcss3t" id="tab2" class="tab-content-2">
                    <label for="tab2">District Saturation<br /><span class="blocks">(13 Blocks)</span></label>
                    <ul>
                        <li class="tab-content tab-content-first">
                            <div class="box-responsive">
                                <div class="district-data">
                                    <div class="district-1">
                                        <h3>Godda</h3>
                                        <p>Pilot: 1 Block (Godda Sadar)</p>
                                    </div>
                                    <div class="district-2">
                                        <h3>Jamtara</h3>
                                        <p>Pilot: 1 Block (Nala)</p>
                                    </div>
                                </div>
                                <div class="map-control">
                                    <div class="jh-map">
                                        <img src="/Content/images/jharkhan-child-marriage-map.png" alt="jharkhan child marriage map">
                                        <span class="nhfs">Source: NFHS-4 2014-15</span>
                                    </div>
                                    <div class="jh-district">
                                        <div class="godda">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map1 zoom-in-zoom-out">
                                            <img src="/Content/images/godda.png" alt="godda district">
                                        </div>
                                        <div class="jamtara">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map2 zoom-in-zoom-out">
                                            <img src="/Content/images/jamtara.png" alt="Jamtara district">
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </li>

                        <li class="tab-content tab-content-2">
                            <div class="box-responsive">
                                <div class="district-data">
                                    <div class="district-1">
                                        <h3>Godda</h3>
                                        <p>Pilot: 1 Block (Godda Sadar)</p>
                                        <p>
                                            Dist Saturation: Expanded to 6 more blocks <span>(Meherma, Thakurganj, Mahagama, Boarijor, Basant Raj, Pathargama)</span>
                                            @*<span class="social__content">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="svg-info"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg>
            <span class="social__tooltip social__tooltip-bottom">Expanded to 6 more blocks (names of blocks, please refer map)</span>
        </span>*@
                                        </p>
                                    </div>
                                    <div class="district-2">
                                        <h3>Jamtara</h3>
                                        <p>Pilot: 1 Block (Nala)</p>
                                        <p>
                                            Dist Saturation: Expanded to 5 more blocks <span>(Karmatar Vidyasagar, Narayanpur, Fatehpur, Kundhit, Nala)</span>
                                            @*<span class="social__content">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="svg-info"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg>
            <span class="social__tooltip social__tooltip-bottom">Expanded to 5 more blocks (names of blocks, please refer map)</span>
        </span>*@
                                        </p>
                                    </div>
                                </div>
                                <div class="map-control">
                                    <div class="jh-map">
                                        <img src="/Content/images/jharkhan-child-marriage-map.png" alt="jharkhan child marriage map">
                                        <span class="nhfs">Source: NFHS-4 2014-15</span>
                                    </div>
                                    <div class="jh-district">
                                        <div class="godda">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map3 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map4 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map5 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map6 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map7 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map8 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map9 zoom-in-zoom-out">
                                            <img src="/Content/images/godda.png" alt="godda district">
                                        </div>
                                        <div class="jamtara">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map10 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map11 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map12 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map13 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map14 zoom-in-zoom-out">
                                            <img src="/Content/images/map-icon.png" alt="map icon" class="map15 zoom-in-zoom-out">
                                            <img src="/Content/images/jamtara.png" alt="Jamtara district">
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="influence-bg" id="level-of-influence">
            <div class="intervention-info intervention-back">
                <h2>Levels of Influence</h2>
                <h3>
                    The intervention design addresses the issue of child/early marriage through<br> Levels of Influence
                </h3>
                <div class="div-block">
                    <div class="model-scroller">
                        <div class="info-graph5">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-1 gp1" />
                            <p>Public Policy <br><span>Block Level through CLF Sessions</span></p>
                        </div>
                        <div class="block-fixed-5">
                            <img src="/Content/images/arrow-right.png" alt="arrow" class="arrow-right-5">
                            <h4>Advocacy & System-level Engagement with duty bearers</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i>Collective leadership among CLF leaders & SAC members</li>
                                <li><i class="fa fa-circle"></i>Participation at BLCPC meetings</li>
                                <li><i class="fa fa-circle"></i>Exposure visits</li>
                            </ul>
                        </div>
                        <div class="info-graph4">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-2 gp2" />
                            <p>Organizational<br> <span>VO Modular Sessions</span></p>
                        </div>
                        <div class="block-fixed-4">
                            <img src="/Content/images/arrow-right.png" alt="arrow" class="arrow-right-4">
                            <h4>Collaborative Leadership</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i>Imbibing Collaborative Leadership among VO members</li>
                                <li><i class="fa fa-circle"></i>Capacitating to raise gender issues at village level</li>
                                <li><i class="fa fa-circle"></i>Village level convergence with PRI, VLCPC, etc</li>
                            </ul>
                        </div>
                        <div class="info-graph3">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-3 gp3" />
                            <p>
                                Community Creating<br> <span>
                                    Enabling Environment Exposure to<br> Alternative Pathways
                                    through Kishori Help Desks
                                </span>
                            </p>
                        </div>
                        <div class="block-fixed-3">
                            <img src="/Content/images/arrow-left.png" alt="arrow" class="arrow-left-3">
                            <h4>Building peer support & influence through</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i>Maa-beti Sammelan</li>
                                <li><i class="fa fa-circle"></i>Enrolment drives for dropout girls</li>
                                <li><i class="fa fa-circle"></i>Events on special days</li>
                                <li><i class="fa fa-circle"></i>Home visits by Umang team</li>
                                <li>
                                    <i class="fa fa-circle"></i>Counselling on education, career, SRHR, life skills, link
                                    with govt schemes
                                </li>
                            </ul>
                        </div>
                        <div class="info-graph2">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-4 gp4" />
                            <p>Inter-personal<br> <span>SHG Mother at HH Level</span></p>
                        </div>
                        <div class="block-fixed-2">
                            <img src="/Content/images/arrow-right.png" alt="arrow" class="arrow-right-2">
                            <h4>SHG sessions facilitate</h4>
                            <ul>
                                <li>
                                    <i class="fa fa-circle"></i>Enriched Intergenerational interactions, esp mother-daughter
                                </li>
                                <li><i class="fa fa-circle"></i>Norm-shifting behaviour</li>
                                <li><i class="fa fa-circle"></i>Valuable participation in HH decisions</li>
                                <li><i class="fa fa-circle"></i>Improved negotiations with husband & in-laws</li>
                            </ul>
                        </div>
                        <div class="info-graph1">
                            <img src="~/Content/images/plus-icon.png" alt="plus icon" class="imfluence-plus-5 gp5" />
                            <p>Intra-personal <br> <span>SHG Mother</span></p>
                        </div>
                        <div class="block-fixed-1">
                            <img src="/Content/images/arrow-left.png" alt="arrow" class="arrow-left-1">
                            <h4>SHG sessions enhance awareness & enable her to realise concerns with</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i>Child/early marriage</li>
                                <li><i class="fa fa-circle"></i>Girls’ education</li>
                                <li><i class="fa fa-circle"></i>Social & Gender Norms</li>
                                <li>
                                    <i class="fa fa-circle"></i>Participation in HH decisions
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- FIXED BOX -->
            </div>
        </div>
        
        <div class="manage-innovation">
            <h2>Major Activities under Umang</h2>
            <div class="innovation-point">
                <div class="innovate" data-aos="fade-up" data-aos-duration="3500">
                    <div class="innovate-content modular-session-bg">
                        <div class="innovate-title">
                            <h4>Rollout of Modular Sessions</h4>
                        </div>                        
                        <div class="hide-innovation">
                            <h3>Rollout of Modular Sessions</h3>
                            <p>
                                For imparting knowledge, skills and confidence among SHG
                                members, Umang team designed 21 modular sessions for SHGs covering topics such as
                                ill-effects of child marriage, importance of girls’ education, child rights and
                                entitlements, mother-daughter communication, etc. PCI India trained Active Women (cadre
                                of frontline workers), who conducted the sessions during SHG meetings (one out of every
                                4 weekly sessions were devoted to Umang modules). @*Similarly, separate modules were
                                developed for VOs (21 modules) and CLFs (14).*@
                            </p>
                        </div>
                    </div>
                </div>
                <div class="innovate" data-aos="fade-up" data-aos-duration="3500">
                    <div class="innovate-content community-level-bg">                        
                        <div class="innovate-title">
                            <h4>Community Level Campaigns</h4>
                        </div>
                        <div class="hide-innovation">
                            <h3>Community Level Campaigns</h3>
                            <p>
                                Mother Daughter event was an integral part of Umang that
                                highlighted the power of mother-daughter bond in resolving issues and shifting
                                regressive social norms (such as child marriage).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="innovate" data-aos="fade-up" data-aos-duration="3500">
                    <div class="innovate-content kishori-helpdesk-bg">                        
                        <div class="innovate-title">
                            <h4>Kishori Help Desk</h4>
                        </div>
                        <div class="hide-innovation">
                            <h3>Kishori Help Desk</h3>
                            <p>
                                To fill the gap between aspirations & reality among adolescent girls
                                for their education & career, Kishori (meaning adolescent) Help Desks were created
                                towards the end of 2022. Set up at CLF offices and managed by trained counsellors, these
                                help desks offer counselling to adolescent girls & their parents on education, career,
                                life skills & SRHR. Career counselling was provided to girls based on their psychometric
                                tests that help identify their acumen for selecting suitable career options and study
                                streams. @*Since it came late, the uptake has been low and yet to cover adequate number of
                                girls at the time of endline survey.*@
                            </p>
                        </div>
                    </div>
                </div>
                <div class="innovate" data-aos="fade-up" data-aos-duration="3500">
                    <div class="innovate-content enhancing-leadership-bg">
                        <div class="innovate-title">
                            <h4>Enhancing Leadership & Advocacy Skills of CLF Members</h4>
                        </div>                        
                        <div class="hide-innovation">
                            <h3>Enhancing Leadership & Advocacy Skills of CLF Members</h3>
                            <p>
                                To enable women leaders take
                                ownership for addressing social issue, the project has facilitated engagement with Block
                                Level Child Protection Committee (BLCPC) in Nala where CLF & SAC leaders raised their
                                concerns regarding quality services for adolescent girls to continue their education and
                                thus avoid child/early marriages.
                            </p>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="breaker"></div>
        </div>
    </div>
</section>
<div class="continue-box">
    <a href="~/Home/AimObjectives" class="link-box" data-aos="fade-up" data-aos-duration="3500">
        <img src="~/Content/images/quick-link/aim.png" alt="Aim & Objective icon" />
        <p>Aim & Objectives</p>
    </a>
    <a href="~/Home/Design" class="link-box" data-aos="fade-up" data-aos-duration="3500">
        <img src="~/Content/images/quick-link/design-icon.png" alt="design icon" />
        <p>Design</p>
    </a>
    <a href="~/Home/Journeysofar" class="link-box" data-aos="fade-up" data-aos-duration="3500">
        <img src="~/Content/images/quick-link/journey-icon.png" alt="journey icon" />
        <p>Journey So Far</p>
    </a>
</div>