<link rel="stylesheet" href="~/Content/css/milestone.css">
<style>
    #ddmenu .current {
        color: #00AEC4;
    }
</style>
<!-- Banner -->
@*<div class="banner-manage"><img src="~/Content/images/slider/journey-so-far.jpg" alt="journey so far banner"></div>

<div class="banner-title">
    <h2><span>Umang Roadmap</span></h2>
</div>*@
<!-- TIMELINE -->
<div class="umang-partnership">
    <h2>Umang Roadmap</h2>
    <p data-aos="fade-left" data-aos-duration="1500">
        Umang model has been designed as a 21-month intervention including training of frontline cadre (JSLPS cadre
        is called Active Women) and rollout of 21 modular sessions at SHGs, 21 at VOs and 14 at CLFs.
    </p>
</div>
<div class="milestone">
    <div class="timeline">
        <div class="timeline-list left">
            <div class="content">

                <h2>2019</h2>
                <p>
                    <b>OCT 23, 2019</b><br><span>MoU signed with JSLPS</span>
                </p>
            </div>
        </div>
        <div class="timeline-list left">
            <div class="content">
                <h2>2020</h2>
                <p>
                    <b>COVID-19</b> <br /> <span>Impact on Project</span>
                </p>
            </div>
        </div>
        <div class="timeline-list right">
            <div class="content">
                <h2>Q1 '21</h2>
                <p>
                    <b>JAN-MAR’21</b> <br> <span>Baseline Study</span>
                </p>
            </div>
        </div>
        <div class="timeline-list left">
            <div class="content">
                <h2>Q2 '21</h2>
                <p>
                    <b>PILOT PHASE</b><br> <span>Focus on Sustainability.</span>
                </p>
            </div>
        </div>
        <div class="timeline-list right">
            <div class="content">
                <h2>Q3 '21</h2>
            </div>
        </div>
        <div class="timeline-list left">
            <div class="content">
                <h2>Q4 '21</h2>
            </div>
        </div>
        <div class="timeline-list right">
            <div class="content">
                <h2>Q1 '22</h2>
            </div>
        </div>
        <div class="timeline-list left">
            <div class="content">
                <h2>Q2 '22</h2>
            </div>
        </div>
        <div class="timeline-list right">
            <div class="content">
                <h2>Q3 '22</h2>
                <p>
                    <b>JULY 2022<br> 1st Kishori Help Desk</b><br>
                    <span>launched at Dumariya, Godda</span>
                </p>
            </div>
        </div>
        <div class="timeline-list left">
            <div class="content">
                <h2>Q4 '22</h2>
                <p>
                    <b>PILOT PHASE</b><br><span>Implementation completed</span>
                </p>
            </div>
        </div>
        <div class="timeline-list right">
            <div class="content">
                <h2>Q1 '23</h2>
                <p>
                    <b>JAN-MAR’23</b><br><span>Endline Study</span>
                </p>
            </div>
        </div>
        <div class="timeline-list left">
            <div class="content">
                <h2>2023</h2>
                <p>
                    <b>Our Mission</b> <br><span>Continue</span>
                </p>
            </div>
        </div>
        <div class="fixed-timeline">
            <div class="arrow-up"></div>
            <p>21-month Intervention</p>
            <div class="arrow-down"></div>
        </div>
    </div>

</div>
<!-- PARTNERSHIP -->
@*<div class="umang-partnership-box">
    <div class="partnership-block">
        <p data-aos="fade-up" data-aos-duration="1500">
            Umang is implemented by PCI India in partnership with the International Centre for Research on Women (ICRW) and Jharkhand State Livelihood Promotion Society (JSLPS), under the Dept of Rural Development, Govt of Jharkhand, with support from Global Communities.
        </p>
    </div>
</div>*@
<div class="continue-box">
    <a href="~/Home/AimObjectives" class="link-box">
        <img src="~/Content/images/quick-link/aim.png" alt="Aim & Objective icon" />
        <p>Aim & Objectives</p>
    </a>
    <a href="~/Home/Design" class="link-box">
        <img src="~/Content/images/quick-link/design-icon.png" alt="design icon" />
        <p>Design</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
</div>