<link rel="stylesheet" href="~/Content/css/milestone.css">
<style>
    #ddmenu .current {
        color: #00AEC4;
    }

    .shg-appear, .vo-appear, .clf-appear, .tr-appear {
        position: relative;
        z-index: 99;
        margin: auto;
        max-width: 1000px;
        margin-top: -13px;
    }

        .shg-appear p, .vo-appear p, .clf-appear p, .tr-appear p {
            margin: 0px;
            font-weight: 600;
            font-size: 11px;
            padding: 5px;
        }

    .shg-1, .shg-2, .shg-3, .shg-4, .shg-5, .shg-6, .shg-7, .vo-1, .vo-2, .vo-3, .vo-4, .vo-5, .vo-6, .vo-7, .clf-1, .clf-2, .clf-3, .clf-4, .clf-5, .clf-6, .clf-7, .tr-1, .tr-2, .tr-3, .tr-4, .tr-5, .tr-6, .tr-7 {
        width: 120px;
        text-align: center;
        float: left;
    }

    .shg-1 {
        margin-left: 12px;
    }

    .shg-2 {
        margin-left: 18px;
    }
    .shg-3 {
        margin-left: 17px;
    }
    .shg-4 {
        margin-left: 16px;
    }
    .shg-5 {
        margin-left: 17px;
    }
    .shg-6 {
        margin-left: 17px;
    }
    .shg-7 {
        margin-left: 16px;
    }
    .shg-appear p {
        padding: 7px;
        border-radius: 5px;
        background: #FFE1F4;
        color: #5A2B53;
    }
    .vo-1 {
        margin-left: 39px;
    }

    .vo-2 {
        margin-left: 18px;
    }

    .vo-3 {
        margin-left: 17px;
    }

    .vo-4 {
        margin-left: 17px;
    }

    .vo-5 {
        margin-left: 17px;
    }

    .vo-6 {
        margin-left: 18px;
    }

    .vo-7 {
        margin-left: 17px;
    }
    .vo-appear p {
        padding: 7px;
        border-radius: 5px;
        background: #E7F9BB;
        color: #5A2B53;
    }
    .clf-1 {
        margin-left: 67px;
    }

    .clf-2 {
        margin-left: 17px;
    }

    .clf-3 {
        margin-left: 17px;
    }

    .clf-4 {
        margin-left: 17px;
    }

    .clf-5 {
        margin-left: 17px;
    }

    .clf-6 {
        margin-left: 18px;
    }

    .clf-7 {
        margin-left: 7px;
        position: absolute;
        right: -10px;
    }

    .clf-appear p {
        padding: 7px;
        border-radius: 5px;
        background: #D8EDFF;
        color: #002032;
    }
    .tr-1 {
        margin-left: -15px;
    }

    .tr-2 {
        margin-left: 18px;
    }

    .tr-3 {
        margin-left: 17px;
    }

    .tr-4 {
        margin-left: 17px;
    }

    .tr-5 {
        margin-left: 17px;
    }

    .tr-6 {
        margin-left: 18px;
    }

    .tr-7 {
        margin-left: 17px;
    }

    .tr-appear p {
        padding: 7px;
        border-radius: 5px;
        background: #FFE1D8;
        color: #2C0A00;
    }
    .shg-appear .liners1, .shg-appear .liners2 {
        display: block;
        margin: auto;
        width: 3px;
        background: #FFDFF4;
    }
    .vo-appear .liners1, .vo-appear .liners2 {
        display: block;
        margin: auto;
        width: 3px;
        background: #E7F9BB;
    }
    .clf-appear .liners1, .clf-appear .liners2 {
        display: block;
        margin: auto;
        width: 3px;
        background: #D8EDFF;
    }
    .tr-appear .liners1, .tr-appear .liners2 {
        display: block;
        margin: auto;
        width: 3px;
        background: #FFE1D8;
    }
    .liners1 {
        height: 50px;
    }
    .liners2 {
        height: 130px;
    }
    .shg-appear, .vo-appear, .clf-appear, .tr-appear {
        height: 0px;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .timeline_appear, .timeline_appear-2, .timeline_appear-3, .timeline_appear-4 {
        display: block;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
</style>
<!-- Banner -->
@*<div class="banner-manage"><img src="~/Content/images/slider/journey-so-far.jpg" alt="journey so far banner"></div>

    <div class="banner-title">
        <h2><span>Umang Roadmap</span></h2>
    </div>*@
<!-- TIMELINE -->
<div class="umang-partnership">
    <h2>Umang Roadmap</h2>
    <p data-aos="fade-left" data-aos-duration="1500">
        Umang model is designed as a package of 22 SHG modular sessions, 21 VO sessions & 14 CLF sessions, and 7 rounds of training of facilitators (JSLPS cadre). It also includes three months each of baseline & endline survey.
    </p>
</div>
<div class="cool-timeline">
    <div class="timeline-scroller">
        <div class="timeline-course">
            <div class="course-control">
                @*<h3>24 months as 7 quarters <span>(including 3 months of training and holiday)</span></h3>*@
                <h3>Modular sessions with <a href="~/Home/Modules#shg-module" class="pink-clr">SHG</a>, <a href="~/Home/Modules#vo-module" class="green-clr">VO</a> & <a href="~/Home/Modules#clf-module" class="blue-clr">CLF</a> members and facilitators’ <span class="facil-training">training</span></h3>
                <div class="corse-dot"></div>
                <div class="corse-line"></div>
            </div>
        </div>
        <div class="all-month">
            @*<span class="month-title">Months</span>*@
            <div class="base-study">
                <div class="baseline-fixed">
                    <h3 class="text-title-1">Baseline Study</h3>
                    <div class="base-dot"></div>
                    <div class="baseine-liner"></div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-1">
                <div class="quarter-title"><h3 class="tl1">Quarter 1</h3></div>
                <div class="quarter-1-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-2">
                <div class="quarter-title"><h3 class="tl2">Quarter 2</h3></div>
                <div class="quarter-2-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-3">
                <div class="quarter-title"><h3 class="tl3">Quarter 3</h3></div>
                <div class="quarter-3-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-4">
                <div class="quarter-title"><h3 class="tl4">Quarter 4</h3></div>
                <div class="quarter-4-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-5">
                <div class="quarter-title"><h3 class="tl5">Quarter 5</h3></div>
                <div class="quarter-5-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-6">
                <div class="quarter-title"><h3 class="tl6">Quarter 6</h3></div>
                <div class="quarter-6-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-7">
                <div class="quarter-title"><h3 class="tl7">Quarter 7</h3></div>
                <div class="quarter-7-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="end-study">
                <div class="endline-fixed">
                    <h3 class="text-title-1">Endline Study</h3>
                    <div class="end-dot"></div>
                    <div class="endline-liner"></div>
                </div>
            </div>
        </div>
        <!-- Training Session -->
        <div class="tr-appear">
            <div class="tr-1">
                <span class="liners1"></span>
                <p>1<sup>st</sup> Round Training</p>
            </div>
            <div class="tr-2">
                <span class="liners2"></span>
                <p>2<sup>nd</sup> Round Training</p>
            </div>
            <div class="tr-3">
                <span class="liners1"></span>
                <p>3<sup>rd</sup> Round Training</p>
            </div>
            <div class="tr-4">
                <span class="liners2"></span>
                <p>4<sup>th</sup> Round Training</p>
            </div>
            <div class="tr-5">
                <span class="liners1"></span>
                <p>5<sup>tg</sup> Round Training</p>
            </div>
            <div class="tr-6">
                <span class="liners2"></span>
                <p>6<sup>th</sup> Round Training</p>
            </div>
            <div class="tr-7">
                <span class="liners1"></span>
                <p>7<sup>th</sup> Round Training</p>
            </div>
        </div>
        <!-- SHG Content -->
        <div class="shg-appear">
            <div class="shg-1">
                <span class="liners1"></span>
                <p>Self-realisation, gender sensitization & project orientation</p>
            </div>
            <div class="shg-2">
                <span class="liners2"></span>
                <p>Mother-daughter communication & relationship</p>
            </div>
            <div class="shg-3">
                <span class="liners1"></span>
                <p>SRHR and decision-making</p>
            </div>
            <div class="shg-4">
                <span class="liners2"></span>
                <p>Nutritional requirements of adolescent girls</p>
            </div>
            <div class="shg-5">
                <span class="liners1"></span>
                <p>Value of education and agency building among girls</p>
            </div>
            <div class="shg-6">
                <span class="liners2"></span>
                <p>Child rights and laws on prevention of child marriage</p>
            </div>
            <div class="shg-7">
                <span class="liners1"></span>
                <p>Career choices & pathways for financial independence of girls</p>
            </div>
        </div>
        <!-- VO Session -->
        <div class="vo-appear">
            <div class="vo-1">
                <span class="liners1"></span>
                <p>Role of VO</p>
            </div>
            <div class="vo-2">
                <span class="liners2"></span>
                <p>Identifying challenges of girls' education</p>
            </div>
            <div class="vo-3">
                <span class="liners1"></span>
                <p>The issue of Child Marriage</p>
            </div>
            <div class="vo-4">
                <span class="liners2"></span>
                <p>Welfare schemes for girls' education</p>
            </div>
            <div class="vo-5">
                <span class="liners1"></span>
                <p>Engagement with external stakeholders at village level for prevention of child marriage</p>
            </div>
            <div class="vo-6">
                <span class="liners2"></span>
                <p>Discussion on laws related to adolescent education (Right to Education), POCSO, Domestic Violence Act</p>
            </div>
            <div class="vo-7">
                <span class="liners1"></span>
                <p>Identification of village level bodies such as VLCPC</p>
            </div>
        </div>
        <!-- CLF Session -->
        <div class="clf-appear">
            <div class="clf-1">
                <span class="liners1"></span>
                <p>Status of girls in Jharkhand, welfare schemes</p>
            </div>
            <div class="clf-2">
                <span class="liners2"></span>
                <p>Awareness on child marriage act, POCSO, Child Protection Committee, etc</p>
            </div>
            <div class="clf-3">
                <span class="liners1"></span>
                <p>Childline 1098, laws on domestic violence, intimate partner violence</p>
            </div>
            <div class="clf-4">
                <span class="liners2"></span>
                <p>Awareness on dowry act, Women helpline, one-stop centre</p>
            </div>
            <div class="clf-5">
                <span class="liners1"></span>
                <p>Engagement with stakeholders on education & security of adolescent girls</p>
            </div>
            <div class="clf-6">
                <span class="liners2"></span>
                <p>Data Collection & Analysis</p>
            </div>
            <div class="clf-7">
                <span class="liners1"></span>
                <p>Preparation of Demand Note & Advocacy, and Kishori Help Desk</p>
            </div>
        </div>
    </div>
</div>
<div class="continue-box">
    <a href="~/Home/AimObjectives" class="link-box">
        <img src="~/Content/images/quick-link/aim.png" alt="Aim & Objective icon" />
        <p>Aim & Objectives</p>
    </a>
    <a href="~/Home/Design" class="link-box">
        <img src="~/Content/images/quick-link/design-icon.png" alt="design icon" />
        <p>Design</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
</div>

<script>
    $(".shg-session").hover(
        function () {
            $(".shg-appear").addClass("timeline_appear");
        },
        function () {
            $(".shg-appear").removeClass("timeline_appear");
        }
    );
    $(".vo-session").hover(
        function () {
            $(".vo-appear").addClass("timeline_appear-2");
        },
        function () {
            $(".vo-appear").removeClass("timeline_appear-2");
        }
    );
    $(".clf-session").hover(
        function () {
            $(".clf-appear").addClass("timeline_appear-3");
        },
        function () {
            $(".clf-appear").removeClass("timeline_appear-3");
        }
    );
    $(".tr-session").hover(
        function () {
            $(".tr-appear").addClass("timeline_appear-4");
        },
        function () {
            $(".tr-appear").removeClass("timeline_appear-4");
        }
    );
</script>