<link rel="stylesheet" href="~/Content/css/milestone.css">
<style>
    #ddmenu .current {
        color: #00AEC4;
    }

    .shg-appear {
        position: relative;
        z-index: 99;
        margin: auto;
        max-width: 1000px;
        margin-top: -13px;
    }

        .shg-appear p {
            margin: 0px;
            font-weight: 600;
            font-size: 11px;
            padding: 5px;
        }

    .shg-1, .shg-2, .shg-3, .shg-4, .shg-5, .shg-6, .shg-7 {
        width: 120px;
        text-align: center;
        float: left;
    }

    .shg-1 {
        margin-left: 12px;
    }

    .shg-2 {
        margin-left: 18px;
    }
    .shg-3 {
        margin-left: 17px;
    }
    .shg-4 {
        margin-left: 16px;
    }
    .shg-5 {
        margin-left: 17px;
    }
    .shg-6 {
        margin-left: 17px;
    }
    .shg-7 {
        margin-left: 16px;
    }
    .shg-appear p {
        padding: 7px;
        border-radius: 5px;
        background: #FFE1F4;
        color: #5A2B53;
    }

    .liners1, .liners2 {
        display: block;
        margin: auto;
        width: 3px;
        background: #FFDFF4;
    }
    .liners1 {
        height: 50px;
    }
    .liners2 {
        height: 130px;
    }
    .shg-appear {
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .timeline_appear {
        opacity: 1;
        visibility: visible;
    }
</style>
<!-- Banner -->
@*<div class="banner-manage"><img src="~/Content/images/slider/journey-so-far.jpg" alt="journey so far banner"></div>

    <div class="banner-title">
        <h2><span>Umang Roadmap</span></h2>
    </div>*@
<!-- TIMELINE -->
<div class="umang-partnership">
    <h2>Umang Roadmap</h2>
    <p data-aos="fade-left" data-aos-duration="1500">
        Umang model is designed as a package of 22 SHG modular sessions, 21 VO sessions & 14 CLF sessions, and 7 rounds of training of facilitators (JSLPS cadre). It also includes three months each of baseline & endline survey.
    </p>
</div>
<div class="cool-timeline">
    <div class="timeline-scroller">
        <div class="timeline-course">
            <div class="course-control">
                @*<h3>24 months as 7 quarters <span>(including 3 months of training and holiday)</span></h3>*@
                <h3>Modular sessions with <a href="~/Home/Modules#shg-module" class="pink-clr">SHG</a>, <a href="~/Home/Modules#vo-module" class="green-clr">VO</a> & <a href="~/Home/Modules#clf-module" class="blue-clr">CLF</a> members and facilitators’ <span class="facil-training">training</span></h3>
                <div class="corse-dot"></div>
                <div class="corse-line"></div>
            </div>
        </div>
        <div class="all-month">
            @*<span class="month-title">Months</span>*@
            <div class="base-study">
                <div class="baseline-fixed">
                    <h3 class="text-title-1">Baseline Study</h3>
                    <div class="base-dot"></div>
                    <div class="baseine-liner"></div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-1">
                <div class="quarter-title"><h3 class="tl1">Quarter 1</h3></div>
                <div class="quarter-1-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-2">
                <div class="quarter-title"><h3 class="tl2">Quarter 2</h3></div>
                <div class="quarter-2-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-3">
                <div class="quarter-title"><h3 class="tl3">Quarter 3</h3></div>
                <div class="quarter-3-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-4">
                <div class="quarter-title"><h3 class="tl4">Quarter 4</h3></div>
                <div class="quarter-4-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-5">
                <div class="quarter-title"><h3 class="tl5">Quarter 5</h3></div>
                <div class="quarter-5-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-6">
                <div class="quarter-title"><h3 class="tl6">Quarter 6</h3></div>
                <div class="quarter-6-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            @*<div class="timeline-training"></div>*@
            <div class="quarter-7">
                <div class="quarter-title"><h3 class="tl7">Quarter 7</h3></div>
                <div class="quarter-7-fixed">
                    <div class="tr-session">
                        <span></span>
                    </div>
                    <div class="shg-session">
                        <span></span>
                    </div>
                    <div class="vo-session">
                        <span></span>
                    </div>
                    <div class="clf-session">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="end-study">
                <div class="endline-fixed">
                    <h3 class="text-title-1">Endline Study</h3>
                    <div class="end-dot"></div>
                    <div class="endline-liner"></div>
                </div>
            </div>
        </div>
        <div class="shg-appear">
            <div class="shg-1">
                <span class="liners1"></span>
                <p>Role of VO</p>
            </div>
            <div class="shg-2">
                <span class="liners2"></span>
                <p>Identifying challenges of girls' education</p>
            </div>
            <div class="shg-3">
                <span class="liners1"></span>
                <p>Child Marriage</p>
            </div>
            <div class="shg-4">
                <span class="liners2"></span>
                <p>Welfare schemes for girls' education</p>
            </div>
            <div class="shg-5">
                <span class="liners1"></span>
                <p>Engagement with external stakeholders village level and community meetings for prevention of child marriage</p>
            </div>
            <div class="shg-6">
                <span class="liners2"></span>
                <p>Discussion on laws related to adolescent education (Right to Education), POCSO, Domestic Violence Act, etcAwareness on Right to Education</p>
            </div>
            <div class="shg-7">
                <span class="liners1"></span>
                <p>Identification of village level bodies such as BLCPC</p>
            </div>
        </div>
    </div>
</div>
<div class="continue-box">
    <a href="~/Home/AimObjectives" class="link-box">
        <img src="~/Content/images/quick-link/aim.png" alt="Aim & Objective icon" />
        <p>Aim & Objectives</p>
    </a>
    <a href="~/Home/Design" class="link-box">
        <img src="~/Content/images/quick-link/design-icon.png" alt="design icon" />
        <p>Design</p>
    </a>
    <a href="~/Home/Intervention" class="link-box">
        <img src="~/Content/images/quick-link/intervention-icon.png" alt="Intervention icon" />
        <p>Intervention</p>
    </a>
</div>

<script>
    $(".shg-session").hover(
        function () {
            $(".shg-appear").addClass("timeline_appear");
        },
        function () {
            $(".shg-appear").removeClass("timeline_appear");
        }
    );
</script>