
<style>
    #ddmenu .current {
        color: #00AEC4;
    }
</style>
<!-- Banner -->
<div class="banner-manage">
    <img src="~/Content/images/slider/design-banner.jpg" alt="Aims & Objectives">
</div>
<div class="banner-title">
    <h2><span>Kishori HelpDesk</span></h2>
</div>

