
<style>
    #ddmenu .current3 {
        color: #00AEC4;
    }
    .banner-title {
        margin: 40px auto 30px;
        background: none;
        padding: 0px 20px 40px 0px;
    }
    .banner-title h2 {
        color: #00AEC4;
        font-size: 40px;
        padding-bottom: 20px;
    }
</style>
<!-- Banner -->
<div class="top-spacer"></div>
<div class="banner-title">
    <h2>Kishori HelpDesk</h2>
    <div class="left-bord"></div>
</div>
<div class="under-content"></div>

