
@{
    ViewBag.Title = "StatusOfGirlInJharkhand";
}

<!-- Video Banner -->
<div class="video-banner">
    <video id="video" autoplay="autoplay" loop="loop" controls="controls" muted="muted">
        <source src="~/Content/video/animation-test-video.mp4" type='video/mp4;'>
    </video>
</div>