
@{
    ViewBag.Title = "Testimonials";
}
<style>
    #ddmenu .current5 {
        color: #00AEC4;
    }
    .banner-title {
        margin: 40px auto -50px;
        background: none;
        padding: 0px 20px 40px 0px;
    }

        .banner-title h2 {
            font-size: 40px;
            line-height: 40px;
            padding: 0 0px 10px;
            color: #00AEC4;
        }
</style>
@*<div class="banner-manage">
        <img src="~/Content/images/slider/design-banner.jpg" alt="Aims & Objectives">
    </div>*@
<div class="top-spacer"></div>
<div class="banner-title">
    <h2>Video Testimonials</h2>
    <div class="left-bord"></div>
</div>
<div class="video-type">
    <a href="~/Home/testimonials#cm">Community Members</a>
    <a href="~/Home/testimonials#cdr">Cadre</a>
    <a href="~/Home/testimonials#ofc">Officials</a>
</div>
<section class="video-section cm-bg" id="cm">
    <div class="video-manage">
        <h2><span class="liner"></span>Community Members</h2>
        <div class="video-list">
            <div class="product_slider">
                <div class="amazingcarousel-list-container">
                    <ul class="amazingcarousel-list">
                        <li class="amazingcarousel-item">
                            <div class="side-vide">
                                <div class="side-video-container">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/BDslfcmSKlQ"></iframe>
                                </div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="side-vide">
                                <div class="side-video-container">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/fMjeIXwm38w"></iframe>
                                </div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="side-vide">
                                <div class="side-video-container">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/fMjeIXwm38w"></iframe>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="amazingcarousel-prev"></div>
                    <div class="amazingcarousel-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-section cd-bg" id="cdr">
    <div class="video-manage">
        <h2><span class="liner2"></span>Cadre</h2>
        <div class="video-list">
            <div class="product_slider">
                <div class="amazingcarousel-list-container">
                    <ul class="amazingcarousel-list">
                        <li class="amazingcarousel-item">
                            <div class="side-vide">
                                <div class="side-video-container">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/FacEYNJCM68"></iframe>
                                </div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="side-vide">
                                <div class="side-video-container">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/zg8ohoR9NlM"></iframe>
                                </div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="side-vide">
                                <div class="side-video-container">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/id8_t1zUeDA"></iframe>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="amazingcarousel-prev"></div>
                    <div class="amazingcarousel-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-section of-bg" id="ofc">
    <div class="video-manage">
        <h2><span class="liner3"></span>Officials</h2>
        <div class="video-list">
            <div class="product_slider">
                <div class="amazingcarousel-list-container">
                    <ul class="amazingcarousel-list">
                        <li class="amazingcarousel-item">
                            <div class="side-vide">
                                <div class="side-video-container">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/EKwQuDHyYeI"></iframe>
                                </div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="side-vide">
                                <div class="side-video-container">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/93XQk9CJcJs"></iframe>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="amazingcarousel-prev"></div>
                    <div class="amazingcarousel-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>

