<style>
    #ddmenu .current2 {
        color: #00AEC4;
    }
    .manage-achievement h2 {
        margin-top: 0px;
        font-size: 37px;
    }
</style>
<!-- Banner -->
<div class="top-spacer"></div>
@*<div class="banner-title">
    <h2><span>Why Godda & Jamtara</span></h2>
</div>*@
<div class="manage-achievement">
    <h2>A girl's life in Jharkhand</h2>
    <div class="left-bord"></div>
    <div class="girls-life-in-brief">
        <div class="girl-life" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <img src="~/Content/images/girls-life.png" />
        </div>
        <div class="girls-content">
            <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="50">                
                <span class="gl-life-round">
                    <img src="~/Content/images/girl-wedding.png" alt="Marriage Age" class="girl-life-icon" />
                </span>
                <p><span class="age-marriage">Age at marriage - 32%</span> of women aged 20-24 years in Jharkhand are married before the age of 18. (NFHS-5, 2019-21). It was 38% in NFHS-4</p>
            </div>
            <div data-aos="fade-left" data-aos-duration="800" data-aos-delay="600">
                <span class="gl-life-round"><img src="~/Content/images/girls-education.png" alt="Girl Education" class="girl-life-icon" /></span>                
                <p><span class="age-marriage2">Education</span> - Only <span class="age-marriage2">33%</span> of women aged 15-49 years in Jharkhand received 10 or more years of schooling (NFHS-5). It was 29% in NFHS-4</p>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200">
                <span class="gl-life-round"><img src="~/Content/images/female-teacher.png" alt="Workforce participation" class="girl-life-icon" /></span>                
                <p><span class="age-marriage3">Workforce participation</span> - Female Worker Population Ratio (WPR) in Jharkhand is <span class="age-marriage3">35.2%</span> as per Periodic Labour Force Survey (PLFS) 2019-20</p>

            </div>
        </div>
    </div>
</div>
<div class="why-godda-jamtara">
    <div class="manage-achievement">
        <h3>Why did we choose to work in Godda and Jamtara districts?</h3>
        <p>Jharkhand is among the states in India where prevalence of child/early marriage has remained higher than the national average. As per NFHS-4, the percent of women aged 20-24 years married before the age of 18 was 38% in Jharkhand as against 27% in India. Concerted efforts by the central and state governments have reduced the incidence of child marriage. However, it hasn’t been eliminated completely. As per NFHS-5:</p>
        <h3 style="text-align: center;"><span class="cool-txt">One-third adolescent girls in Jharkhand are still getting married before 18 years of age</span></h3>
        <div class="lagged">
            <div class="godda-jamtara-charts">
                <div class="chart-indicate">
                    <div class="ind"><span></span>India</div>
                    <div class="jhr"><span></span>Jharkhand</div>
                </div>
                <div class="charts-length">
                    <p>75</p>
                    <p>50</p>
                    <p>25</p>
                    <p>0</p>
                </div>
                <div class="charts-list">
                    <div class="chart-data">
                        <div class="IN-data">
                            <span>54.2%</span>
                            <p class="lgth-54"></p>
                        </div>
                        <div class="JH-data">
                            <span>69.1%</span>
                            <p class="lgth-69"></p>
                        </div>
                    </div>
                    <div class="nfhs">NFHS 1 (1990-93)</div>
                </div>
                <div class="charts-list">
                    <div class="chart-data">
                        <div class="IN-data">
                            <span>50%</span>
                            <p class="lgth-50"></p>
                        </div>
                        <div class="JH-data">
                            <span>71%</span>
                            <p class="lgth-71"></p>
                        </div>
                    </div>
                    <div class="nfhs">NFHS 2 (1998-99)</div>
                </div>
                <div class="charts-list">
                    <div class="chart-data">
                        <div class="IN-data">
                            <span>47.4%</span>
                            <p class="lgth-47"></p>
                        </div>
                        <div class="JH-data">
                            <span>63.2%</span>
                            <p class="lgth-63"></p>
                        </div>
                    </div>
                    <div class="nfhs">NFHS 3 (2005-06)</div>
                </div>
                <div class="charts-list">
                    <div class="chart-data">
                        <div class="IN-data">
                            <span>26.8%</span>
                            <p class="lgth-26"></p>
                        </div>
                        <div class="JH-data">
                            <span>37.9%</span>
                            <p class="lgth-37"></p>
                        </div>
                    </div>
                    <div class="nfhs">NFHS 4 (2015-16)</div>
                </div>
                <div class="charts-list">
                    <div class="chart-data">
                        <div class="IN-data">
                            <span>23.3%</span>
                            <p class="lgth-23"></p>
                        </div>
                        <div class="JH-data">
                            <span>32.2%</span>
                            <p class="lgth-32"></p>
                        </div>
                    </div>
                    <div class="nfhs">NFHS 5 (2019-21)</div>
                </div>
            </div>
            <h4>Present of women aged 20-24 years who were married before the age of 18</h4>
        </div>
        <p>The incidence of child marriage is especially high in districts with high tribal population including Godda and Jamtara. The NFHS-4 data revealed that child marriage prevalence was as high as 64% in Godda (thus coming in red category), and 44% in Jamtara (hence in yellow category). Poverty is one of the driving factors that push families towards child marriage. For families with low-income circumstances, marrying the daughter early is considered as a socially-accepted trade-off to make ends meet. This is coupled with the regressive social norms that have patronised mindsets and normalised child marriage of girls.</p>
        <p>Considering the status of women and girls from education lens also reveals a grim situation as only 6% women (aged 19-24 years) in Jamtara and 10% in Godda claimed to have completed their education up to 12th std, as per NFHS-4.</p>
        <p>These have compelled for an intervention that can help improve the status of adolescent girls in the region, empower their mothers and create and enabling environment at the community and policy levels that can together help in nurturing the aspirations of the girls. With the support of their mothers, girls now has the power of alternatives and guided pathways that can take them through a healthy passage to adulthood and help them turn into productive human resources. </p>
    </div>
</div>