<style>
    #ddmenu .current5 {
        color: #00AEC4;
    }

    .banner-title {
        margin: 40px auto 30px;
        background: none;
        padding: 0px 20px 40px 0px;
    }

        .banner-title h2 {
            color: #00AEC4;
            font-size: 40px;
            padding-bottom: 20px;
        }
</style>
<!-- Image Zoom Banner -->
<link href="~/Content/css/simp.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/js/1-simp-lib.min.js"></script>
<script type="text/javascript" src="~/Content/js/2-simp-lib.min.js"></script>
<!-- Banner -->
<div class="zoomer-banner">
    <div class="carousel-container">
        <div class="weather-time-widget-holder"> </div>
        <div id="homeCarousel" class="carousel slide simple-carousel carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" width="100%" height="100%" alt="" src="~/Content/images/slider/evaluation-study.jpg" />
                    <div class="slider-text">
                        <h1>Women RISE UP</h1>
                        <p>Enhancing Leadership & Advocacy Skills of CLF Members</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Details-->
<div class="content-details">
    <div class="evalue-study">
        <img src="~/Content/images/evaluation-cover.png" alt="evaluation cover" />
    </div>
    <div class="evalue-text">
        <p>‘Women rise up against child marriage’ is an initiative for addressing CEFM (child, early & forced marriage) through building leadership among CLF members and capacitating them to do advocacy at system level. Many CLF members are also mothers of adolescent girls. The initiative has been implemented during 2021-22 at Nala block in Jamtara district, Jharkhand, and capacitated more than 150 women leaders.</p>
        <p><span class="bold-italic">This collaborative leadership approach has empowered women leaders (to become advocates of change in their communities, take ownership for addressing social issues (such as prevention child marriage, promotion of girls’ education, etc) and participate in state systems at block and district levels, thus eliciting a stronger response from them.</span></p>
        <p>These women leaders conducted survey on existing challenges in girls’ education in 36 villages, analysed the data and presented the action plan to the Nala BLCPC (Block Level Child Protection Committee). This has resulted in gaining membership for two women leaders in Nala BLCPC meetings.</p>
        <a href="~/Content/download/Women-Rise-Up-Against-Child-Marriage.pdf" class="module-pdf-1 btn-module">Click to download</a>
    </div>
</div>
<!-- Testimonials -->
<div class="evaluation-study-estimonial">
    <div class="testim-control">
        <div class="testim">
            <img src="~/Content/images/anju-rai.jpg" alt="Anju Rai, President, Nala Ajeevika Mahila Sankul Sangathan" />
            <p>“Umang sessions were an eyeopener. For the first time I identified myself as a victim of child marriage. Since then, there has been no looking back. I have realised the potential of my position as CLF President and the crucial role I can play in shaping the lives of adolescent girls in my cluster.”</p>
            <p><span class="testim-quote">Anju Rai, President, Nala Ajeevika Mahila Sankul Sangathan, Jamtara (and mother of two daughters aged 6 and 12)</span></p>
        </div>
        <div class="testim">
            <img src="~/Content/images/mukhtamani-bibi.jpg" alt="Mukhtamani Bibi, Social Action Committee (SAC) member" />
            <p>"I have been a SAC member since 2018. However, we weren’t working vigorously against CEFM earlier. Umang sessions have improved our awareness and negotiation/communication skills, and helped us address social issues more effectively."</p>
            <p><span class="testim-quote">Mukhtamani Bibi, Social Action Committee (SAC) member, Kuldangal Sankul Sangathan, Nala, Jamtara (and mother of 14-year-old daughter)</span></p>
        </div>
    </div>
</div>