@model  UmangMicro.Models.FilterCanReg
@using UmangMicro.Models
@*@model IEnumerable<KGBV_JH.Models.QesRes>*@
@{
    ViewBag.Title = "Registration List";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Registration List";
    ViewBag.SemiTitleLink = "/";
}

<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                @*h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-12*@
                <div class="h-100 d-md-flex d-sm-block bg-white align-items-center col-md-12 col-lg-12">
                    <div class="ml-2">
                        @*mx-auto app-login-box col-sm-12 col-md-10 col-lg-9*@
                        @using (Html.BeginForm("GetIndex", "Candidate", FormMethod.Post, new { @id = "formid", @class = "panel-body form-horizontal form-padding loader", autocomplete = "off", enctype = "multipart/form-data" }))
                        {
                            <div class="form-row ">
                                <div class="col-md-12">
                                    <div style="text-align: center; font-weight: 700;">
                                        <h4><strong>Registration List</strong></h4>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        @Html.Partial("_Alerts")
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label class="tar-pull-manage2">From Date</label>
                                        <div id="demo-dp-range">
                                            @Html.EditorFor(model => model.FD, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label class="tar-pull-manage2">To Date</label>
                                        <div id="demo-dp-range">
                                            @Html.EditorFor(model => model.TD, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="margin-tops"></label>
                                    <div class="clearfix"></div>
                                    <input type="submit" id="btnshow" name="btnClick" value="Search" class="btn  btn-primary text-right" title="" />
                                </div>
                                <div class="mark-devide2"></div>
                                <div class="breaker"></div>
                            </div>
                        }

                        <div class="col-md-12">
                            <div class="card">
                                @*<div class="card-body">*@
                                    <div class="col-sm-12" id="sub-data">

                                    </div>
                                @*</div>*@
                            </div>
                        </div>

                        @*<div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" id="sub-data-view">

                        </div>
                    </div>
                </div>*@



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
        $(document).ready(function () {

            $('#formid').submit(function (e) {
                e.preventDefault();
                LoadReport();
            })
            LoadReport();
        });

        function LoadReport() {
            debugger;
            $('#sub-data').html("");
            jQuery.event.trigger("ajaxStart");
            $('#sub-data').removeClass("text-danger");
            var id = '#formid'
            var url = $(id).attr("action");
            var FD = $("#FD").val() == "" ? "" : $("#FD").val();
            var TD = $("#TD").val() == "" ? "" : $("#TD").val();
            $.ajax({
                // url: url,
                url: document.baseURI + "/Candidate/GetIndex",
                type: "POST",
                data: { 'FD': FD, 'TD': TD },
                // contentType: "application/json",
                // dataType: "json",
                // contentType: "application/json; charset=utf-8",
                //async: false,
                success: function (resp) {
                    if (resp.IsSuccess) {
                        $('#sub-data').html(resp.Data); $('#sub-data').addClass("text-black");
                        jQuery.event.trigger("ajaxStop");
                    }
                    else {
                        $('#sub-data').html(resp.Data); $('#sub-data').addClass("text-danger");
                        // toastr.error("Error", errormsg);
                        jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    $('#sub-data').addClass("text-danger");
                    toastr.error("Error", errormsg);
                    jQuery.event.trigger("ajaxStop");
                    return false;
                }
            });
        }


    </script>
}
