@model  UmangMicro.Models.FilterCanReg
@using UmangMicro.Models
@*@model IEnumerable<KGBV_JH.Models.QesRes>*@
@{
    ViewBag.Title = "Registration List";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Registration List";
    ViewBag.SemiTitleLink = "/";
}

<div class="main-card mb-3 card">
    <div class="card-body">
        <div id="div-download"></div>
        @using (Html.BeginForm("GetIndex", "Candidate", FormMethod.Post, new { @id = "formid", @class = "loader", autocomplete = "off", enctype = "multipart/form-data" }))
        {
                <div class="row ">
                    <div class="col-md-12">
                        <div style="text-align: center; font-weight: 700;">
                            <h4><strong>Student Registration List</strong></h4>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            @Html.Partial("_Alerts")
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-5">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Search  :</legend>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label class="tar-pull-manage2">From Date :  <span class="text-danger">*</span> </label>
                                        <div id="demo-dp-range">
                                            @Html.EditorFor(model => model.FD, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label class="tar-pull-manage2">To Date : <span class="text-danger">*</span></label>
                                        <div id="demo-dp-range">
                                            @Html.EditorFor(model => model.TD, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="mt-3"></label>
                                    <div class="clearfix"></div>
                                    <input type="submit" id="btnshow" name="btnClick" value="Search" class="btn  btn-primary text-right" title="" />
                                </div>
                                <div class="mark-devide2"></div>
                                <div class="breaker"></div>
                            </div>

                        </fieldset>
                    </div>
                </div>

            <div class="breaker"></div>
            <div class="col-md-12">
                <div class="card">
                    @*<div class="card-body">*@
                    <div class="col-sm-12" id="sub-data">

                    </div>
                    @*</div>*@
                </div>
            </div>
        }



        @*<div class="panel-body">
            <div class="row">
                <div class="col-sm-12" id="sub-data-view">

                </div>
            </div>
        </div>*@



    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
        $(document).ready(function () {

            $('#formid').submit(function (e) {
                e.preventDefault();
                LoadReport();
            })
            LoadReport();
        });

        function LoadReport() {
            debugger;
            $('#sub-data').html("");
            jQuery.event.trigger("ajaxStart");
            $('#sub-data').removeClass("text-danger");
            var id = '#formid'
            var url = $(id).attr("action");
            var FD = $("#FD").val() == "" ? "" : $("#FD").val();
            var TD = $("#TD").val() == "" ? "" : $("#TD").val();
            $.ajax({
                // url: url,
                url: document.baseURI + "/Candidate/GetIndex",
                type: "POST",
                data: { 'FD': FD, 'TD': TD },
                // contentType: "application/json",
                // dataType: "json",
                // contentType: "application/json; charset=utf-8",
                //async: false,
                success: function (resp) {
                    if (resp.IsSuccess) {
                        $('#sub-data').html(resp.Data); $('#sub-data').addClass("text-black");
                        jQuery.event.trigger("ajaxStop");

                        if ($.fn.dataTable.isDataTable('#DataList')) {
                            $("#DataList").dataTable().fnDestroy();
                        }
                        table = $('#DataList').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'User Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'User List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '500px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        //table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $('#sub-data').html(resp.Data); $('#sub-data').addClass("text-danger");
                        // toastr.error("Error", errormsg);
                        jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    $('#sub-data').addClass("text-danger");
                    toastr.error("Error", errormsg);
                    jQuery.event.trigger("ajaxStop");
                    return false;
                }
            });
        }


    </script>
}
