body {
    margin: 0px;
    padding: 0px;
    /*background: #F6F6F6;*/
    background: #0097B2;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.breaker {
    clear: both;
    height: 0.1px;
}

.break {
    clear: both;
    height: 10px;
}

.tar-distance {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 10px;
    margin-top: 30px;
}

.forgot-break {
    clear: both;
    height: 5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

img {
    width: 100%;
    height: auto;
}

.card-login {
    display: flex;
    height: calc(100vh - 40px);
    background: #6A4566;
    align-items: center;
}

.full-title {
    flex: 3;
    height: 100%;
    text-align: center;
    margin-top: 60px;
    color: #fff;
}

    .full-title h1 {
        font-size: 45px;
        margin: 5px 0;
        color: #fff;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .full-title h3 {
        color: #FEC582
    }

.login-bg {
    width: 100%;
    height: 510px;
    overflow: hidden;
    text-align: left;
}

.full-title img {
    width: 55%;
    margin-top: 30px;
    border-radius: 10px;
    border: 5px solid #A36A9D
}

.div-login {
    background: #fff;
    height: 100%;
    flex: 2;
}

    .div-login h2 {
        font-size: 35px;
        margin-bottom: 10px;
        color: #000000;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 55px;
        font-weight: bold
    }

    .div-login h3 {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 7px;
        color: #333;
        text-align: center;
        margin-top: 10px;
    }

    .div-login p {
        font-size: 14px;
        color: #9A9A9A;
        text-align: center;
        padding: 5px 10px;
        margin-bottom: 15px;
    }

    .div-login a {
        color: #FF6A41;
        text-decoration: underline;
    }

        .div-login a:hover {
            color: #FF6A41;
            text-decoration: none;
        }

.btn-card {
    display: block;
    padding: 7px 20px;
    background: #6A4566;
    color: #fff;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 0px;
}

    .btn-card:hover {
        background: #0060C1;
        color: #fff;
    }

.login-card {
    padding: 60px 3% 10px;
    border-radius: 0px 20px 20px 0px;
}

.div-login label {
    text-align: left;
}

.checkbox {
    margin-top: 0px;
    margin-left: 20px;
}

    .checkbox .input-checkbox {
        float: left;
        margin-top: 1px;
        margin-right: 2px;
    }

.check-title {
    /*float: left;*/
    margin-left: 4px;
    margin-top: 3px;
}

.div-login .text-danger {
    text-align: left;
    font-size: 12px;
}

.div-login .checkbox {
    font-size: 12px;
    color: #757575;
}

.card-icon {
    float: right;
    font-size: 18px;
    color: #757575;
    position: relative;
    margin: -28px 20px 0 0;
}

.card-icon2 {
    float: right;
    font-size: 18px;
    color: #757575;
    position: relative;
    margin: -33px 20px 0 0;
}

.card-login-icon {
    width: 70px;
    display: block;
    margin: auto;
}

.form-card {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 8px 12px;
    border: none;
    font-size: 14px;
    background: #F0F0F0;
    transition: border-width 0.6s linear;
    box-sizing: border-box;
}

    .form-card:focus {
        outline: none;
    }

#loginForm {
    display: block;
    width: 80%;
    margin: auto;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #FEC582;
}

    .footer p {
        margin: 0px;
        color: #6A4566;
        font-size: 14px;
    }

@media all and (max-width: 900px) {
    .div-login h2 {
        margin-top: 30px;
    }
}

@media all and (max-width: 768px) {
    .card-login {
        flex-direction: column;
        align-items: initial;
    }

    .login-bg {
        display: none;
    }

    .full-title {
        margin-top: 20px;
        height: 100px;
        flex: inherit;
    }

        .full-title h1 {
            font-size: 38px;
        }

        .full-title h3 {
            font-size: 18px;
        }
        .div-login {
            width: 96%;
            margin: 2%;
        }

    .login-card {
        padding: 30px 3% 10px;
        border-radius: 0px 20px 20px 0px;
    }

    .card-login-icon {
        display: none;
    }

    .div-login h2 {
        margin-top: 15px;
    }
}

@media all and (max-width: 650px) {
}

@media all and (max-width: 520px) {
}
