.timeline * {
	box-sizing: border-box;
    position: relative;
}

body {
	font-size: 16px;
	background: #fff;
	color: #030303;
	overflow-x: hidden;
	position: relative;
	word-wrap: break-word
}
.fixed-timeline {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 370px;
    top: 450px;
    z-index: 55;
    align-items: center;
    gap: 20px;
}
.fixed-timeline p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 20px !important;
    margin: 5px 0;
}
.arrow-up {
    width: 12px;
    height: 84px;
    background: url('../images/timeline/arrow-up.png');
}
.arrow-down {
    width: 12px;
    height: 84px;
    background: url('../images/timeline/arrow-down.png');
}
.timeline h2 {
	margin-top: 0;
	margin-bottom: .5rem;
    color: #F3987A;
    font-size: 30px;
    font-weight: 600;
}

.timeline p {
	margin-bottom: .5rem;
	font-size: 17px;
    color: #000;
}
.timeline p b {
    font-weight: bold;
}
.timeline p span {
    font-style: italic;
}
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto
}

.timeline::after {
	content: '';
	position: absolute;
	width: 20px;
	background-color: #FBC982;
	top: 20px;
	bottom: 3.5%;
	left: 50%;
	margin-left: -18px
}

.timeline-list .content {
	background-color: #fff;
	position: relative;
	border-radius: 6px
}

.timeline-list.left .content {
	text-align: right;
	padding: 0 45px 0 0;
    margin-top: -15px;
}

.timeline-list.right .content {
	padding: 0 0 0 30px;
    margin-top: -15px;
}

.timeline-list {
	padding: 30px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
	margin: 0
}

.timeline-list::after {
	content: "";
	position: absolute;
	width: 36px;
	height: 36px;
	right: -10px;
	background-color: #fff;
	border: 4px solid #FBC982;
	top: 15px;
	border-radius: 50%;
	z-index: 1
}

.timeline-list.left {
	left: 0
}

.timeline-list.right {
	left: 50%
}

.timeline-list.left::before {
	content: "";
	height: 3px;
	position: absolute;
	top: 31px;
	width: 55px;
	z-index: 1;
	right: 17px;
	background: #FBC982
}

.timeline-list.right::before {
	content: "";
	height: 3px;
	position: absolute;
	top: 31px;
	width: 55px;
	z-index: 1;
	left: 0;
	background: #FBC982
}

.timeline-list.right::after {
	left: -26px
}

@media screen and (max-width:991.98px) {
	.timeline::after {
		bottom: 2.6%
	}
}

@media screen and (max-width:767.98px) {
	.timeline::after {
		bottom: 2.5%
	}
}

@media screen and (max-width:575.98px) {
	.timeline-list .content h2 {
		font-size: 2.5rem
	}

	.timeline-list.right .content {
		padding: 0 0 0 30px
	}

	.timeline-list.left .content {
		text-align: left;
		padding: 0 0 0 30px
	}

	.timeline::after {
		left: 45px;
		bottom: 2.5%
	}

	.timeline-list {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px
	}

	.timeline-list::before {
		left: 30px;
		border-width: 10px 10px 10px 0;
		border: 2px solid #fdcd0a
	}

	.timeline-list.right::before {
		left: 30px
	}

	.timeline-list.left::after,
	.timeline-list.right::after {
		left: 18px
	}

	.timeline-list.right {
		left: 0
	}
}