.super-menu {
	width: auto;
	background: #5B2C54;
	/* padding: 5px 0; */
	font-family: 'Noto Sans', sans-serif;
	/* border-bottom: 2px solid #FBC982; */
	/* padding-top: 10px; */
}
.login-btn {
	background: #F26522;
	color: #fff;
	border-radius: 7px;
	padding: 9px 18px;
}
	.login-btn:hover {
		background: #fff;
		color: #5B2C54 !important;
	}
	.nav-i {
		float: left;
		width: 14px;
		margin-right: 10px;
		margin-top: 1px;
	}
#ddmenu {
	max-width: 1200px;
	display: block;
	text-align: left;
	letter-spacing: normal;
	margin: auto;
	z-index: 99999999;
}
#ddmenu ul {
	padding: 0;	
	/* text-align: left; */
	width: 100%;
	font-size: 0;
	display: inline-block;
	list-style: none;
	position: relative;
	max-width: 1200px;
	z-index: 9999999;
	margin-bottom: 0px !important;
}
#ddmenu li {
	margin: 0;
	padding: 12px 14px 12px;
	font-size: 14px;
	display: inline-block;
	position: relative;
	color: #fff;
	vertical-align: middle;
	transition: background-color 0.2s;
	font-weight: 500;
	text-decoration: none;
	line-height: 20px;
	margin: 0 2px;
}
#ddmenu .full-width {
	position: static;
}
#ddmenu .over {
	color: #FBC982;
	/* background: #5B2C54; */
	/* background: #FBC982; */
	text-decoration: none;
}
#ddmenu .current {
	color: #FBC982;
	/* background: #5B2C54;
	background: #FBC982; */
}
#ddmenu .top-heading {
	margin: 0 16px;
	color: inherit;
	text-decoration: none;
	display: inline-block;
	outline: 0;
	cursor: pointer;
}
/* links of top-heading */
#ddmenu a, #ddmenu a:link, #ddmenu a:hover {
	color: inherit;
}
#ddmenu a:hover {
	text-decoration: none;
}
#ddmenu a:focus {
	outline: 1px dotted #09F;
}
/* caret(arrow icon) */
#ddmenu .caret {
	color: inherit;
	left: -12px;
	top: -20px;
	width: 0;
	height: 0;
	overflow: hidden;/*for IE6*/
	vertical-align: middle;
	margin-bottom: 2px;
	border-top: 4px solid;/*caret size is 4px now*/
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	display: inline-block;
	position: relative;
	/* display: none; */
}
#ddmenu .dropdown {
	width: auto;
	left: 0px;
	color: #000;
	padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	overflow: hidden;
	top: 100%;
	/*border: 1px solid rgba(255,255,255,0.35);
	border-top: none;*/	
	background-color: rgba(0,0,0,0.2);
	background-color: #ccc;
	z-index: 99999999;
}
#ddmenu .full-width .dropdown {
	width: 100%;
	padding: 0;
	margin: 0;
}
#ddmenu .offset300 {
	left: -300px;
	right: auto;
}
#ddmenu .right-aligned {
	left: auto;
	right: 0px;
}
#ddmenu .over .dropdown {
	display: block;
}
#ddmenu .dd-inner {
	text-align: center;
	padding: 15px;	
	background-color: #FFF;
	white-space: nowrap;
	font-size: 15px;
}
.column .fa {
	margin-right: 10px;
}
#ddmenu ul ul {
	margin: 0;
	padding: 0;
	text-align: left;
	width: auto;
	background: none;
	border: none;
	display: block;
	position: static;
	z-index: 0;
	border-radius: 0;
}
#ddmenu ul ul li {
	font-size: 14px;
	padding: 12px 0; /*It determines the line height*/
	color: inherit;
	line-height: 1;
	margin: 0;
	border-bottom: 1px solid #B2B2B2;
	display: block;
	position: static;
	background: none;
	transition: none;
	border-radius: 0;
}
/* links in sub menu
----------------------------*/

#ddmenu .dropdown a {
	color: #808080;
	line-height: 1;
	text-decoration: none;
	transition: color 0.4s;
}
#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus {
	text-decoration: none;
	color: #31825E
}
/* blocks within the sub-menu
-----------------------------*/
#ddmenu .column {
	text-align: left;
	vertical-align: top;/*or middle*/
	display: inline-block;
    /**display:inline;
    *zoom:1;*/
	white-space: normal;
	width: auto;
	width: 290px;
	padding: 0 10px 0 10px;
	/*border-right: 1px solid #999;*/
}
#ddmenu .dd-inner ul:last-child {
	border-right: none;
}
#ddmenu h3 {
	font-weight: 500;
	line-height: 1.1;
	margin-top: 2px;
	margin-bottom: 8px;
	font-size: 19px;
}
#ddmenu div.column h3 {
	text-transform: uppercase;
}
/* useful when http://www.menucool.com/ddmenu/one-menu-for-all-pages */
#ddmenuLink {
	display: none;
}
/*######## add additional styles for mobile-friendly responsive menu ########*/

#ddmenu .menu-icon {
	display: none; /* hide menu icon initially */
}
.ttt {
	max-width: 170px;
}
.nav-menu {
	display: none;
	float: left;
	color: #fff;
	font-size: 16px;
}
@media only screen and (max-width: 1200px) {
	#ddmenu li {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 1140px) {
	#ddmenu li {
		padding-left: 10px;
		padding-right: 10px;
	}
}
/*styles for mobile*/
@media only screen and (max-width: 1024px) {
	#ddmenu {
		display: block;
		float: none;
		background: #3A1F2E;
		margin-top: 5px;
		z-index: 9999999;
	}
	.top-heading br {
		display: none;
	}
	#ddmenu .column.mayHide {
		display: none;
	}
.super-menu {
	margin-top: 5px;
	background: #ccc
}
#ddmenu .dropdown {
	background: #ccc;
}
/*override the original settings*/
	#ddmenu ul {
		width: 100%;
		display: none;
		border-radius: 0;
		background: #FFFBFA;
	}
#ddmenu li {
	position: relative;
	display: block;
	font-size: 18px;
	text-align: left;
	color: #000;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-radius: 0;
}
#ddmenu .full-width {
	position: relative;
}
#ddmenu .dropdown {
	position: relative;
    /**top:auto;*/
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: #FFF;
}
/*#ddmenu .offset300 {
	left: 0;
}*/
#ddmenu .full-width .dropdown {
	width: auto;
}
#ddmenu .dd-inner {
	margin: 0;
	background: none;
	text-align: left;
}
/*turn each column to list vertically instead of horizontally */
#ddmenu .column {
	width: auto;
	padding: 0 0 0 20px;
	border: none;
	display: block;
}
/*move the arrow icon to right*/
#ddmenu .caret {
	position: absolute;
	left: auto;
	right: 14px;
	top: 20px;
	color: #000;
	border-width: 5px;
}
.nav-menu {
	display: block;
	font-size: 20px;
	margin-top: 9px;
	margin-left: 12px;
}
/* All the following are for the .menu-icon (pure CSS) */
#ddmenu .menu-icon {
	font-size: 32px;/*icon size*/
	display: block;
	position: relative;
	width: 40px;
	height: 42px;
	text-align: center;
	cursor: pointer;
	/*-moz-user-select: none;
	-webkit-user-select: none;
	background-color: #eee;*/
	border-radius: 3px;
	margin-bottom: 6px;
	/*align the icon to the right*/
	margin-left: auto;
	margin-right: 11px;
}
#ddmenu .menu-icon::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 4px;
	width: 1em;
	height: 0.125em;
	border-top: 0.375em double #fff;
	border-bottom: 0.125em solid #fff;
	box-sizing: content-box;
}
#ddmenu .menu-icon-active {
	background-color: #fff;
	color: #000;
}
#ddmenu .menu-icon-active::before {
	border-color: #222;
}
}
