.pcss3t {
			margin: 0;
			padding: 0;
			border: 0;
			outline: none;
			font-size: 0;
			text-align: center;
		}

		.pcss3t>input {
			position: absolute;
			display: none;
		}

		.pcss3t>label {
			position: relative;
			display: inline-block;
			margin: 0;
			padding: 0;
			border: 0;
			outline: none;
			cursor: pointer;
			transition: all 0.1s;
			-o-transition: all 0.1s;
			-ms-transition: all 0.1s;
			-moz-transition: all 0.1s;
			-webkit-transition: all 0.1s;
		}

		.pcss3t>input:checked+label {
			cursor: default;
		}

		.pcss3t>ul {
			list-style: none;
			position: relative;
			display: block;
			overflow: hidden;
			margin: 0;
			padding: 0;
			border: 0;
			outline: none;
			font-size: 13px;
		}

		.pcss3t>ul>li {
			position: absolute;
			width: 100%;
			overflow: auto;
			padding: 10px 20px 20px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			opacity: 0;
			transition: all 0.5s;
			-o-transition: all 0.5s;
			-ms-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-webkit-transition: all 0.5s;
		}

		.pcss3t>.tab-content-first:checked~ul .tab-content-first,
		.pcss3t>.tab-content-2:checked~ul .tab-content-2,
		.pcss3t>.tab-content-3:checked~ul .tab-content-3,
		.pcss3t>.tab-content-4:checked~ul .tab-content-4,
		.pcss3t>.tab-content-5:checked~ul .tab-content-5,
		.pcss3t>.tab-content-6:checked~ul .tab-content-6,
		.pcss3t>.tab-content-7:checked~ul .tab-content-7,
		.pcss3t>.tab-content-8:checked~ul .tab-content-8,
		.pcss3t>.tab-content-9:checked~ul .tab-content-9,
		.pcss3t>.tab-content-last:checked~ul .tab-content-last {
			z-index: 1;
			top: 0;
			left: 0;
			opacity: 1;
			-webkit-transform: scale(1, 1);
			-webkit-transform: rotate(0deg);
		}

		.pcss3t-steps>label {
			cursor: default;
		}

		.pcss3t-effect-scale>ul>li {
			-webkit-transform: scale(0.1, 0.1);
		}

		.pcss3t-effect-rotate>ul>li {
			-webkit-transform: rotate(180deg);
		}

		.pcss3t-effect-slide-top>ul>li {
			top: -40px;
		}

		.pcss3t-effect-slide-right>ul>li {
			left: 80px;
		}

		.pcss3t-effect-slide-bottom>ul>li {
			top: 40px;
		}

		.pcss3t-effect-slide-left>ul>li {
			left: -80px;
		}

		.pcss3t>label {
			padding: 0 20px;
			background: #e5e5e5;
			font-size: 13px;
			line-height: 49px;
		}

		.pcss3t>label:hover {
			background: #f2f2f2;
		}

		.pcss3t>input:checked+label {
			background: #fff;
		}

		.pcss3t>ul {
			background: #fff;
			text-align: left;
		}

		.pcss3t-steps>label:hover {
			background: #e5e5e5;
		}


		.pcss3t-theme-1>label {
			margin: 0 5px 5px 0;
			border-radius: 5px;
			background: #fff;
			box-shadow: 0 2px rgba(0, 0, 0, 0.2);
			color: #000;
            font-size: 19px;
		}

		.pcss3t-theme-1>label:hover {
			background: #fff;
			opacity: 1;
		}

		.pcss3t-theme-1>input:checked+label {
			margin-bottom: 0;
			padding-bottom: 5px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			color: #F3987A;
			opacity: 1;
		}

		.pcss3t-theme-1>ul {
			border-radius: 5px;
			box-shadow: 0 3px rgba(0, 0, 0, 0.2);
		}

		.pcss3t-theme-1>.tab-content-first:checked~ul {
			border-top-left-radius: 0;
		}

		.pcss3t-theme-2 {
			padding: 5px;
			background: rgba(0, 0, 0, 0.2);
		}

		.pcss3t-theme-2>label {
			margin-right: 0;
			margin-bottom: 0;
			background: none;
			border-radius: 0;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			color: #fff;
			opacity: 1;
		}

		.pcss3t-theme-2>label:hover {
			background: rgba(255, 255, 255, 0.2);
		}

		.pcss3t-theme-2>input:checked+label {
			padding-bottom: 0;
			background: #fff;
			background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
			background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
			background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
			background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
			background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
			color: #822bd9;
		}

		.pcss3t-theme-2>ul {
			margin: 0 -5px -5px;
			border-radius: 0;
			box-shadow: none;
		}

		@media screen and (max-width: 767px) {
			.pcss3t-theme-2>ul {
				margin-top: 5px;
			}
		}

		.pcss3t>ul,
		.pcss3t>ul>li {
			height: 800px;
		}